@model CustomerUnitModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
@{
    ViewData["Title"] = "Skapa enhet";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="Name" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="Email" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="LocalAdministrator" type="select" asp-items="SelectListService.CustomerUsers" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-warning btn-large pull-left do-not-check-dirty" href="@Url.Action("List")">Avbryt <span class="btn-remove-times">&times;</span></a>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="disable-on-click btn btn-large btn-success pull-right">Skapa</button>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
