@model CustomerUnitModel
@{
    ViewData["Title"] = "Användardetaljer";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-sm-4">
        <display-entry asp-for="Name" />
        <display-entry asp-for="Email" />
    </div>
    <div class="col-sm-4">
        <display-entry asp-for="CreatedAt" />
        <display-entry asp-for="CreatedBy" />
    </div>
    <div class="col-sm-4">
        <display-entry asp-for="IsActive" />
        @if (!Model.IsActive)
        {
            <display-entry asp-for="InactivatedAt" />
            <display-entry asp-for="InactivatedBy" />
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-warning btn-large pull-left do-not-check-dirty" href="@Url.Action("List")"><span class="center-glyphicon glyphicon glyphicon-triangle-left"></span> Tillbaka</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-large btn-default" asp-action="Edit" asp-route-id="@Model.Id">Ändra enhetsuppgifter</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-large btn-default" asp-action="Edit" asp-route-id="@Model.Id">Lägg till/ta bort användare</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h3>Användare</h3>
    </div>
</div>


