@{
    ViewData["Title"] = "Statistik";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Veckostatistik</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="statistics-number-header">Bokningar</div>
        <div class="statistics-number">
            302
        </div>
        <div class="statistics-up">
            + 3 % <span class="statistics-arrow-up glyphicon glyphicon-arrow-up"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="statistics-number-header">Utförda uppdrag</div>
        <div class="statistics-number">
            189
        </div>
        <div class="statistics-down">
            - 2 % <span class="statistics-arrow-down glyphicon glyphicon-arrow-down"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="statistics-number-header">Rekvisitioner</div>
        <div class="statistics-number">
            57
        </div>
        <div class="statistics-up">
            + 5 % <span class="statistics-arrow-up glyphicon glyphicon-arrow-up"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="statistics-number-header">Reklamationer</div>
        <div class="statistics-number">
            4
        </div>
        <div class="statistics-down">
            - 20 % <span class="statistics-arrow-down glyphicon glyphicon-arrow-down"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="statistics-number-header">Inloggade anv.</div>
        <div class="statistics-number">
            784
        </div>
        <div class="statistics-up">
            + 4 % <span class="statistics-arrow-up glyphicon glyphicon-arrow-up"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="statistics-number-header">Nya användare</div>
        <div class="statistics-number">
            23
        </div>
        <div class="statistics-up">
            + 2 % <span class="statistics-arrow-up glyphicon glyphicon-arrow-up"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Bokningsstatistik</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="statistics-box-header center-block">
            <h4>Mest beställda län</h4>
        </div>
        <div class="statistics-box">
            <ol>
                <li>Stockholm 27 %</li>
                <li>Västra Götaland 23 %</li>
                <li>Skåne 17 %</li>
                <li>Örebro 11 %</li>
                <li>Uppsala 8 %</li>
            </ol>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistics-box-header center-block">
            <h4>Mest beställda språk</h4>
        </div>
        <div class="statistics-box">
            <ol>
                <li>Arabiska 14 %</li>
                <li>Bulgariska 9 %</li>
                <li>Arameiska 6 %</li>
                <li>Finska 6 %</li>
                <li>Rikskinesiska 5 %</li>
            </ol>
        </div>
    </div>
    <div class="col-md-4">
        <div class="statistics-box-header center-block">
            <h4>Myndigheter</h4>
        </div>
        <div class="statistics-box">
            <ol>
                <li>Polismyndigheten 17 %</li>
                <li>Pensionsmyndigheten 12 %</li>
                <li>Förvaltningsrätten i Stockholm 11 %</li>
                <li>Migrationsverket 9 %</li>
                <li>Kriminalvården 7 %</li>
            </ol>
        </div>
    </div>
</div>
