<ul>
    <li>Förfrågningar som görs senast två arbetsdagar före tolktillfället ska besvaras senast kl. 15.00 nästa arbetsdag</li>
    <li>Förfrågningar som görs senast kl 14:00 arbetsdagen före tolktillfället ska besvaras senast kl 16:30 samma dag</li>
    <li>Förfrågningar som görs efter kl 14:00 arbetsdagen före uppdragsstart, eller samma arbetsdag som uppdragsstart, skall besvaras senast enligt avroparen angiven senaste svarstid</li>
</ul>