<div>
    <ul>
        <li>Förfrågningar som görs <b>senast tjugo (20)</b> arbetsdagar före uppdragsstart ska bekräftas senast fyra (4) arbetsdagar efter förfrågan mottagits. Ev. uteslutna tolkuppgifter bekräftas <b>senast sju (7)</b> arbetsdagar innan uppdragsstart</li>
        <li>Förfrågningar som görs <b>senast tio (10)</b> arbetsdagar före uppdragsstart ska bekräftas senast två (2) arbetsdagar efter förfrågan mottagits. Ev. uteslutna tolkuppgifter bekräftas senast <b>fem (5)</b> arbetsdagar innan uppdragsstart</li>
    </ul>
    <p> För förfrågningar som görs senast tjugo (20), respektive tio (10) arbetsdagar före uppdragsstart kan följande uppgifter uteslutas vid bekräftelse:</p>
    <ul>       
        <li>Tolkens Namn</li>
        <li>Ev. resekostnader</li>
        <li>Tolkens kompetensnivå, förutsatt att det inte är ett krav</li>
    </ul>    
    <p>Övriga tidsramar</p>
    <ul>
        <li>Förfrågningar som görs <b>senast två (2)</b> arbetsdagar före uppdragsstart ska bekräftas senast kl 15.00 arbetsdagen efter förfrågan mottagits. Bekräftelsen ska omfatta samtliga uppgifter.</li>
        <li>Förfrågningar som görs <b>senast  14.00</b> arbetsdagen före uppdragsstart ska bekräftas senast 16.30 samma dag som förfrågan mottagits. Bekräftelsen ska omfatta samtliga uppgifter.</li>
        <li>Förfrågningar som görs <b>senare än 14.00</b>  arbetsdagen före uppdragsstart ska bekäftas enligt tidsanvisning av beställare. Bekräftelsen ska omfatta samtliga uppgifter.</li>
    </ul>
</div>
