<div>
    <p>För förfrågningar som görs senast tjugo (20), respektive tio (10) dagar kan dessa uppgifter uteslutas vid bekräftelse</p>
    <ul>       
        <li>Tolkens Namn</li>
        <li>Ev. resekostnader</li>
        <li>Tolkens kompetensnivå, förutsatt att det inte är ett krav</li>
    </ul>
    <p>Dessa uppgifter måste bekräftas vid ett senare tillfälle</p>
</div>
<ul>
    <li>
        Förfrågningar som görs <b>senast tjugo (20)</b> arbetsdagar före uppdragsstart
        <ul>
            <li>Ska Bekräftas senast fyra (4) arbetsdagar efter förfrågan mottagits</li>
            <li>Ev. Tolkuppgifter ska bekräftas senast sju (7) arbetsdagar innan uppdragsstart</li>
        </ul>
    </li>
    <li>
        Förfrågningar som görs <b>senast tio (10)</b> arbetsdagar före uppdragsstart
        <ul>
            <li>Ska Bekräftas senast två (2) arbetsdagar efter förfrågan mottagits</li>
            <li>Ev. Tolkuppgifter ska bekräftas senast fem (5) arbetsdagar innan uppdragsstart</li>
        </ul>
    </li>
    <li>Förfrågningar som görs <b>senast två (2)</b> arbetsdagar före uppdragsstart ska bekräftas senast kl 15.00 arbetsdagen efter förfrågan mottagits. Bekräftelsen ska omfatta samtliga uppgifter.</li>
    <li>Förfrågningar som görs <b>senast  14.00</b> arbetsdagen före uppdragsstart ska bekräftas senast 16.30 samma dag som förfrågan mottagits. Bekräftelsen ska omfatta samtliga uppgifter.</li>
    <li>Förfrågningar som görs <b>senare än 14.00</b>  arbetsdagen före uppdragsstart ska bekäftas enligt tidsanvisning av beställare. Bekräftelsen ska omfatta samtliga uppgifter.</li>
</ul>