@using Tolk.BusinessLogic
@{
    ViewData["Title"] = Constants.SystemName;
}
<div class="appInfo-header"><div class="appInfo-test">VÄLKOMMEN</div></div>
<div class="appInfo-subheader">@Constants.SystemName.ToUpper()</div>
<br />
<h4>Om tjänsten</h4>
<p>
    I Kammarkollegiets tolkavropstjänst kan avropsberättigade myndigheter boka tolktjänster, och ramavtalsleverantörer (tolkförmedlingar) och tolkar kan hantera bokningsförfrågningar.
</p>
<br />
<h4>Registrera användarkonto</h4>
<p>
    Som användare hos en avropsberättigad myndighet eller tolkförmedling är det möjligt att själv registrera ett användarkonto. Som tolk skapas automatiskt ett användarkonto vid tilldelning av ett uppdrag av en tolkförmedling.
</p>
