@using Tolk.BusinessLogic
@using Tolk.BusinessLogic.Helpers
@using Microsoft.Extensions.Options
@inject IOptions<TolkOptions> options
@{
    ViewData["Title"] = Constants.SystemName;
}
<div class="appInfo-header"><div class="appInfo-test">VÄLKOMMEN</div></div>
<div class="appInfo-subheader">@Constants.SystemName.ToUpper()</div>
<br />
<h2>Om tjänsten</h2>
<p>
    I Kammarkollegiets tolkavropstjänst kan avropsberättigade myndigheter boka tolktjänster, och ramavtalsleverantörer (tolkförmedlingar) kan hantera bokningsförfrågningar.
</p>

<br />
<h2>Registrera användarkonto</h2>

@if (options.Value.EnableRegisterUser)
{
    <p>
        Som användare hos en avropsberättigad myndighet eller tolkförmedling är det möjligt att själv registrera ett användarkonto.
    </p>
}
else
{
    <p>
        Just nu pågår pilotdrift av avropstjänsten och det är inte möjligt att registrera sig själv.
        För frågor eller önskemål om att bli pilotanvändare kontakta <a href="mailto:@options.Value.SupportEmail">@options.Value.SupportEmail</a>
    </p>
}
