
<div class="row padding-bottom-30px">
    <div class="col-xs-12">
        <h2>Om tjänsten</h2>
        <p>
            I Kammarkollegiets tolkavropstjänst kan avropsberättigade myndigheter boka tolktjänster, och ramavtalsleverantörer (tolkförmedlingar) kan hantera bokningsförfrågningar.
        </p>
    </div>
</div>
