@using Tolk.BusinessLogic
@using Tolk.BusinessLogic.Helpers
@using Microsoft.Extensions.Options
@inject IOptions<TolkOptions> options
@{
    ViewData["Title"] = Constants.SystemName;
}
<div class="appInfo-header"><div class="appInfo-test">VÄLKOMMEN</div></div>
<div class="appInfo-subheader">@Constants.SystemName.ToUpper()</div>
<br />
<h2>Om tjänsten</h2>
<p>
    I @Constants.SystemName kan avropsberättigade myndigheter boka tolktjänster, och ramavtalsleverantörer (tolkförmedlingar) kan hantera bokningsförfrågningar.
</p>

<br />
<h2>Registrera användarkonto</h2>

@if (options.Value.EnableRegisterUser)
{
<p>
    Som användare hos en avropsberättigad myndighet eller tolkförmedling är det möjligt att själv registrera ett användarkonto. Vid frågor kontakta <a href="mailto:@options.Value.Support.FirstLineEmail">@options.Value.Support.FirstLineEmail</a>
</p>
}
else
{
<p>
    Just nu är det inte möjligt att registrera sig själv i avropstjänsten. För mer information eller önskemål om att få ett konto kontakta <a href="mailto:@options.Value.Support.UserAccountEmail">@options.Value.Support.UserAccountEmail</a>
</p>
}
