@model RequestModel

@{
    string header = (string)ViewData["header"] ?? "Reklamationssammanfattning";

    bool isCollapsible = (bool?)ViewData["isCollapsible"] ?? true;
    var divClass = isCollapsible ? "collapse" : "";

}
@if (isCollapsible)
{
    <a class="collapsible-section" data-toggle="collapse" data-target="#ComplaintSummary">
        <h3><span class="glyphicon glyphicon-triangle-right" style="font-size:15px;margin-right:10px;"></span> @header</h3>
    </a>
}
else
{
    <h2>@header</h2>
}
<hr />
<div id="ComplaintSummary" class="@divClass">
    <div class="row">
        <div class="col-sm-4">
            <display-entry asp-for="ComplaintStatus" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="ComplaintType" />
        </div>
        <div class="col-sm-4">
            <display-entry asp-for="ComplaintMessage" />
        </div>
    </div>
</div>