@model RequestModel

<div class="row">
    <div class="col-sm-4">
        <display-entry asp-for="ComplaintStatus" />
    </div>
    <div class="col-sm-4">
        <display-entry asp-for="ComplaintType" />
    </div>
    <div class="col-sm-4">
        <display-entry asp-for="ComplaintMessage" />
    </div>
</div>