@model string
<div class="row">
    <div class="col-xs-12">
        <br />
        <div class="warning-info-home">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="info-message" role="alert">
                @Model
            </span>
        </div>
    </div>
</div>
