@model EventLogModel
<section aria-label="@Model.Header">
    <a class="collapsible-section" data-toggle="collapse" data-target="#@Model.Id">
        <h2><span class="glyphicon glyphicon-triangle-right" style="font-size:15px;margin-right:10px;"></span> @Model.Header</h2>
    </a>
    <hr />
    <div id="@Model.Id" class="collapse collapsible-div load-dynamically" data-dynamic-load-url="@Model.DynamicLoadPath">
        <div class="table-responsive">
            <p>Laddar...</p>
        </div>
    </div>
</section>