@model AttachmentListModel
@{
    var visibleClass = Model.Files != null ? !Model.Files.Any() ? "d-none" : string.Empty : "d-none";
}
<fieldset>
    @if (Model.AllowUpload)
    {
        <legend>
            Bifoga filer
            <a href="#" class="edit-link add-requirement-button font-size-14" data-toggle="modal" data-backdrop="static" data-target="#addFilesDialog">Lägg till filer</a>
        </legend>
    }
    <div class="file-list border no-padding @visibleClass">
        <div class="table-responsive">
            <table class="table table-striped table-hover file-table">
                <thead>
                    <tr>
                        <th>Bifogade filer</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Files != null)
                    {
                        @for (var i = 0; i < Model.Files.Count; ++i)
                        {
                            <tr data-id="@Model.Files[i].Id.ToString()" data-size="@Model.Files[i].Size.ToString()">
                                <td class="table-full-column">
                                    <input asp-for="Files[i].Id" type="hidden" />
                                    @Model.Files[i].FileName
                                </td>
                                <td class="table-button-column fixed">
                                    @if (Model.AllowDelete)
                                    {
                                        <span class="glyphicon glyphicon-trash remove-file-row"></span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>
