@model string
<div class="row">
    <div class="col-md-12">
        <br />
        <div class="system-action-info">
            <span class="glyphicon glyphicon-ok"></span>
            <span role="status" class="info-message">
                @Model
            </span>
        </div>
    </div>
</div>
