@model OrderModel

@{
    string isOrderDetailViewKey = "IsOrderDetailView";
    bool isOrderDetailView = (bool?)ViewData[isOrderDetailViewKey] ?? false;
    int? actionReplacingId = isOrderDetailView ? Model.ReplacingOrderId : Model.ActiveRequest.ReplacingOrderRequestId;
    int? actionReplacedById = isOrderDetailView ? Model.ReplacedByOrderId : Model.ActiveRequest.ReplacedByOrderRequestId;
}

<div class="row">
    <div class="col-sm-3">
        @if (isOrderDetailView)
        {
            <display-entry asp-for="Status" />
        }
        else
        {
            <display-entry asp-for="ActiveRequest.Status" />
        }
    </div>
    <div class="col-sm-3">
        <display-entry asp-for="AssignmentType" />
    </div>
    <div class="col-sm-3">
        <display-entry asp-for="OrderNumber" />
        @if (actionReplacingId.HasValue)
        {
            <span>
                (Ersätter <a href="@Url.Action("View", new { id = actionReplacingId })">@Model.ReplacingOrderNumber</a>)
            </span>
        }
        @if (actionReplacedById.HasValue)
        {
            <span>
                (Ersatt av <a href="@Url.Action("View", new { id = actionReplacedById})">@Model.ReplacedByOrderNumber</a>)
            </span>
        }
    </div>
    <div class="col-sm-3">
        @if (isOrderDetailView)
        {
            <display-entry asp-for="CreatedAt" />
        }
        else
        {
            <display-entry asp-for="ActiveRequest.CreatedAt" />
        }
    </div>
</div>