@model RequestModel

@{ 
    string isOrderDetailViewKey = "OrderHeader_IsOrderDetailViewKey";
    bool isOrderDetailView = (bool?)ViewData[isOrderDetailViewKey] ?? false;
}

<div class="row">
    <div class="col-sm-3">
        @if (isOrderDetailView)
        {
            <display-entry asp-for="OrderModel.Status" />
        }
        else
        {
            <display-entry asp-for="Status" />
        }
    </div>
    <div class="col-sm-3">
        <display-entry asp-for="OrderModel.AssignmentType" />
    </div>
    <div class="col-sm-3">
        <display-entry asp-for="OrderModel.OrderNumber" />
        @if (Model.OrderModel.ReplacingOrderId.HasValue)
        {
            <span>
                (Ersätter <a href="@Url.Action("View",new { id = Model.OrderModel.ReplacingOrderId })">@Model.OrderModel.ReplacingOrderNumber</a>)
            </span>
        }
        @if (Model.OrderModel.ReplacedByOrderId.HasValue)
        {
            <span>
                (Ersatt av <a href="@Url.Action("View",new { id = Model.OrderModel.ReplacedByOrderId })">@Model.OrderModel.ReplacedByOrderNumber</a>)
            </span>
        }
    </div>
    <div class="col-sm-3">
        @if (isOrderDetailView)
        {
            <display-entry asp-for="OrderModel.CreatedAt" />
        }
        else
        {
            <display-entry asp-for="CreatedAt" />
        }
    </div>
</div>