<div id="addFilesDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bifoga filer</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="do-not-check-dirty" enctype="multipart/form-data" asp-controller="Files" asp-action="Upload" id="files-uploader">
                    <div class="form-group">
                        Sök fram och välj en eller flera filer, klicka sen på Bifoga<br /><br />
                        <input type="file" name="files" class="filestyle" title="Välj filer" data-icon="false" multiple accept=".DOC,.DOCX,.GIF,.JPG,.JPEG,.JIF,.PDF,.PNG,.PPT,.PPTX,.PPS,.RTF,.TIFF,.TIF,.TXT,.WMF,.XLS,.XLSX" />
                    </div>
                    <input id="GroupKey" name="GroupKey" type="hidden" />
                    <button type="button" class="btn btn-success upload-files">Bifoga</button>
                    <button type="button" class="btn btn-warning pull-right" data-dismiss="modal">Avbryt</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>