@using Tolk.Web.Helpers
@model ErrorViewModel
@{
    ViewData["Title"] = "Ett fel har inträffat i applikationen";
}
<section aria-label="@ViewData[" Title"]">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p>
        Ett fel har inträffat. Om du behöver hjälp, vänligen kontakta supporten.
    </p>
    @if (Model.ShowRequestId)
    {
    <p>
        SpårningsID och version kan hjälpa support-personal att lokalisera felet.
    </p>
    <p>
        <strong>SpårningsID:</strong> <code>@Model.RequestId</code>
    </p>
    <p>
        <strong>Version:</strong> <code>@GitHelper.Version</code>
    </p>
    }
</section>
