@using Tolk.Web.Helpers
@model ErrorViewModel
@{
    ViewData["Title"] = "Fel";
}

<h1 class="text-danger">Fel</h1>

<h2 class="text-danger">Ett fel har inträffat i applikationen</h2>

<p>
    Ett fel har inträffat. Om du behöver hjälp, vänligen kontakta supporten.
</p>
@if (Model.ShowRequestId)
{
    <p>
        SpårningsID och version kan hjälpa support-personal att lokalisera felet.
    </p>
    <p>
        <strong>SpårningsID:</strong> <code>@Model.RequestId</code>
    </p>
    <p>
        <strong>Version:</strong> <code>@GitHelper.Version</code>
    </p>
}

