@model ErrorViewModel
@{
    ViewData["Title"] = "Fel";
}

<h1 class="text-danger">Fel</h1>

<h2 class="text-danger">@Model.ErrorMessage</h2>

<p>
    Ett fel har inträffat. Om du behöver hjälp, vänligen kontakta supporten.
</p>
@if (Model.ShowRequestId)
{
    <p>
        SpårningsID kan hjälpa support-personal att lokalisera felet.
    </p>
    <p>
        <strong>SpårningsID:</strong> <code>@Model.RequestId</code>
    </p>
}

