@model CustomerSpecificPropertyFilterModel
<div class="row">
    <div class="col-sm-4">
        <input asp-for="CustomerSpecificPropertyFilterModelCustomerId" type="hidden" />        
    </div>
</div>
