@model CustomerUserFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
<div class="row">
    <div class="col-sm-4">
        <input asp-for="UserFilterModelCustomerId" type="hidden" />        
        <form-entry asp-for="SearchString" />
    </div>
    <div class="col-sm-4">
        <form-entry asp-for="UserType" type="select" asp-items="SelectListService.SearchableRolesForCustomers" class="allow-clear" />
    </div>
</div>
