@model CustomerFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services

<section aria-label="Filtrera">
<div class="col-sm-12">
    <form method="get" class="filter-form do-not-check-dirty">
        <div class="row">
            <div class="col-xs-4">
                <h2>Filtrera</h2>
            </div>
            <div class="col-xs-8">
                <a class="btn btn-primary do-not-check-dirty reset-filter-button" href="@Url.Action("List")">Rensa filter <span class="btn-small-remove-times">&times;</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form-entry asp-for="Name" />
            </div>
            <div class="col-sm-3">
                <form-entry asp-for="OrganisationNumber" />
            </div>
            <div class="col-sm-3">
                <form-entry asp-for="ParentId" type="select" asp-items="SelectListService.ParentOrganisations" class="allow-clear" />
            </div>
            <div class="col-sm-3">
                <form-entry asp-for="PriceListType" type="select" asp-items="SelectListService.PriceListTypes" class="allow-clear" />
            </div>
        </div>
    </form>
</div>
</section>
