@model CustomerModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
@{
    ViewData["Title"] = "Skapa myndighet";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="Name" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="ParentId" type="select" asp-items="SelectListService.ParentOrganisations" class="allow-clear" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="EmailDomain" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="OrganizationPrefix" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                &nbsp;
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="PriceListType" type="select" asp-items="SelectListService.PriceListTypes" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-warning btn-large pull-left do-not-check-dirty" href="@Url.Action(nameof(Tolk.Web.Controllers.CustomerController.List))">Avbryt <span class="btn-remove-times">&times;</span></a>
            </div>
            <div class="col-sm-4">
                <button id="create" type="submit" class="btn btn-large btn-default pull-right">Skapa</button>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
