@model CustomerModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
@{
    ViewData["Title"] = "Ändra " + Model.Name;
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div class="row">
            <input type="hidden" asp-for="IsCreating" />
            <input type="hidden" asp-for="CustomerId" />
            <div class="col-sm-4">
                <form-entry asp-for="Name" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="OrganisationNumber" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="EmailDomain" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="ParentId" type="select" asp-items="SelectListService.ParentOrganisations" class="allow-clear" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="OrganisationPrefix" />
            </div>
            <div class="col-sm-4">
                <display-entry asp-for="PriceListType" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-warning btn-large pull-left do-not-check-dirty" href="@Url.Action(nameof(Tolk.Web.Controllers.CustomerController.View), new { id = Model.CustomerId })">Avbryt <span class="btn-remove-times">&times;</span></a>
            </div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-large btn-default pull-right">Spara</button>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
