@model OrderAgreementFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
<section aria-label="Filtrera">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <h2>Filtrera</h2>
            </div>
            <div class="col-xs-8">
                <a class="btn btn-primary do-not-check-dirty reset-filter-button" href="@Url.Action("List")">Rensa filter <span class="btn-small-remove-times">&times;</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="SearchIdentifier" />
            </div>
            @if (Model.IsAdmin)
            {
                <div class="col-sm-4">
                    <form-entry asp-for="CustomerOrganisationId" type="select" asp-items="SelectListService.CustomerOrganisations" class="allow-clear" />
                </div>
            }
            <div class="col-sm-4">
                <form-entry asp-for="IsLatest" type="select" asp-items="SelectListService.BoolList" class="allow-clear" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form-entry asp-for="DateCreated" />
            </div>
        </div>
    </div>
</section>
