@model InterpreterModel
@{
    ViewData["Title"] = "Tolkuppgifter";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-sm-4">
        <display-entry asp-for="FullName" />
        <display-entry asp-for="Email" />
        <display-entry asp-for="IsActive" />
    </div>
    <div class="col-sm-4">
        <display-entry asp-for="OfficialInterpreterId" />
        <display-entry asp-for="PhoneNumber" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-warning btn-large pull-left do-not-check-dirty" href="@Url.Action("List")">Avbryt <span class="btn-remove-times">&times;</span></a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-large btn-default" asp-action="Edit" asp-route-id="@Model.Id">Ändra tolkuppgifter</a>
    </div>
</div>
