@model WebHookFilterModel
@inject SelectListService SelectListService
@using Tolk.BusinessLogic.Utilities;
@using Tolk.Web.Services
<section aria-label="Filtrera">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <h2>Filtrera</h2>
            </div>
            <div class="col-xs-8">
                <a class="btn btn-primary do-not-check-dirty reset-filter-button" href="@Url.Action("List")">Rensa filter <span class="btn-small-remove-times">&times;</span></a>
            </div>
        </div>
        <div class="row">
            @if (Model.IsAppAdministrator)
            {
                <div class="col-sm-4">
                    <form-entry asp-for="Status" type="select" asp-items="SelectListService.WebhookStatuses" class="allow-clear" />
                </div>
                <div class="col-sm-4">
                    <form-entry asp-for="NotificationType" type="select" asp-items="SelectListService.GetNotificationTypes(channel: NotificationChannel.Webhook)" class="allow-clear" />
                </div>
                <div class="col-sm-4">
                    <form-entry asp-for="BrokerId" type="select" asp-items="SelectListService.Brokers" class="allow-clear" />
                </div>
            }
            else
            {
                <div class="col-sm-6">
                    <form-entry asp-for="Status" type="select" asp-items="SelectListService.WebhookStatuses" class="allow-clear" />
                </div>
                <div class="col-sm-6">
                    <form-entry asp-for="NotificationType" type="select" asp-items="SelectListService.GetNotificationTypes(NotificationConsumerType.Broker, NotificationChannel.Webhook)" class="allow-clear" />
                </div>
            }
        </div>
    </div>
</section>
