@model DisplayContractModel

<p>
    Ramavtalen är giltiga från och med @Model.FirstValidDate.ToString("yyyy-MM-dd") till och med @Model.LastValidDate.ToString("yyyy-MM-dd") och upphör därefter att gälla utan uppsägning.
    Kammarkollegiet har ensidig rätt att säga upp ramavtalet efter 24 månader, med minst 3 månaders uppsägningstid.
</p>
<p>
<p>Ramavtalet består av två delområden:</p>
<p>Delområde <b>'påplatstolkning, distanstolkning och distanstolkning i anvisad lokal'</b>, vilket avropas genom en fast rangordning per län. En fast rangordning innebär att avropsförfrågan ska ställas till den först rangordnade leverantören (tolkförmedlingen) inom det aktuella länet.</p>
<p>Delområde <b>'distanstolkning utan krav på förbokning'</b>, vilket avropas genom en fast rangordning som är rikstäckande. Denna tjänsten innebär att man genom telefon, app eller webbplats (förmedlings egna) kan få tillgång till en tolk med mycket kort varsel, inom några minuter. Denna tjänsten kan ej bokas via avropstjänsten.</p>
</p>