@model DisplayContractModel

<p>
    Ramavtalen är giltiga från och med @Model.FirstValidDate.ToString("yyyy-MM-dd") till och med @Model.OriginalLastValidDate.ToString("yyyy-MM-dd") och kan förlängas på initiativ av Kammarkollegiet i upp till
    24 månader, det vill säga maximalt till och med @Model.LastValidDate.ToString("yyyy-MM-dd").
</p>
<p>
    För detta ramavtalsområde gäller en fastställd rangordning per län. En fast rangordning innebär att avropsförfrågan ska ställas till den först rangordnade leverantören (tolkförmedlingen) inom det aktuella länet.
</p>