@model RequestFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
<section aria-label="Filtrera">
<div class="col-sm-12">
    <form method="get" class="filter-form do-not-check-dirty">
        <div class="row">
            <div class="col-xs-4">
                <h2>Filtrera</h2>
            </div>
            <div class="col-xs-8">
                <a class="btn btn-primary do-not-check-dirty reset-filter-button" href="@Url.Action("List")">Rensa filter <span class="btn-small-remove-times">&times;</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form-entry asp-for="OrderNumber" />
            </div>
            <div class="col-sm-3">
                <form-entry asp-for="CustomerReferenceNumber" />
            </div>
            <div class="col-sm-3">
                <form-entry asp-for="Status" type="select" asp-items="SelectListService.RequestStatuses" Class="allow-clear" />
            </div>
            <div class="col-sm-3">
                <form-entry asp-for="LanguageId" type="select" asp-items="SelectListService.Languages" class="allow-clear" />
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="OrderDateRange" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="RegionId" type="select" asp-items="SelectListService.Regions" class="allow-clear" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="CustomerOrganizationId" type="select" asp-items="SelectListService.CustomerOrganisations" class="allow-clear" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="AnswerByDateRange" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="AnsweredById" type="select" asp-items="SelectListService.BrokerUsers" Class="allow-clear" />
            </div>
        </div>
    </form>
</div>
</section>