@model RequestFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
<div class="col-md-4">
    <h4>Filtrera</h4>
    <form method="get" class="filter-form container do-not-check-dirty">
        <div class="row">
            <div class="col-xs-3">
                <form-entry asp-for="OrderNumber" />
            </div>
            <div class="col-xs-3">
                <form-entry asp-for="RegionId" type="select" asp-items="SelectListService.Regions" class="allow-clear" />
            </div>
            <div class="col-xs-3">
                <form-entry asp-for="LanguageId" type="select" asp-items="SelectListService.Languages" class="allow-clear" />
            </div>
            <div class="col-xs-3">
                <form-entry asp-for="CustomerOrganizationId" type="select" asp-items="SelectListService.CustomerOrganizations" class="allow-clear" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <form-entry asp-for="OrderDateRange" />
            </div>
            <div class="col-xs-4">
                <form-entry asp-for="AnswerByDateRange" />
            </div>
            <div class="col-xs-2">
                <form-entry asp-for="Status" type="select" asp-items="SelectListService.RequestStatuses" Class="allow-clear" />
            </div>
            <div class="col-xs-2">
                <form-entry asp-for="AnsweredById" type="select" asp-items="SelectListService.BrokerUsers" Class="allow-clear" />
            </div>
        </div>
        <div class="row">
            <a class="btn btn-primary do-not-check-dirty reset-filter-button" href="@Url.Action("List")">Rensa filter</a>
        </div>
    </form>
</div>
