@{
    ViewData["Title"] = "Om applikationen";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-sm-12">
        Applikationen är utvecklad på uppdrag av Kammarkollegiet under AGPLv3-licens.
    </div>
</div>
