@{
    ViewData["Title"] = "Om applikationen";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-sm-12">
            Applikationen är utvecklad på uppdrag av Kammarkollegiet under AGPLv3-licens.
        </div>
    </div>
</section>
