
@{
    ViewData["Title"] = "Om ramavtalet";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-sm-12">
        Ramavtalen för tolkförmedlingstjänster kan nyttjas av statliga myndigheter, samt offentligt styrda organ som lämnat bekräftelse (fullmakt).<br />
        Ramavtalen omfattar förmedling och genomförande av tolktjänster.<br />
        Konferenstolkning, teckenspråkstolkning, skrivtolkning samt skriftlig översättning och språkgranskning ingår inte i detta ramavtalsområde.<br />
        Ramavtalen är giltiga från och med 2019-02-01 till och med 2021-01-31 och kan förlängas på initiativ av Kammarkollegiet i upp till 24 månader, det vill säga maximalt till och med 2023-01-31.<br />
        För detta ramavtalsområde gäller en fastställd rangordning per län. En fast rangordning innebär att avropsförfrågan ska ställas till den först rangordnade leverantören (tolkförmedlingen) inom det aktuella länet.<br />
        Ramavtalets Allmänna villkor är tillämpliga på avtalsförhållandet mellan leverantören och avropande myndighet som har ingått kontrakt och utgör en bilaga till kontraktet. Allmänna villkor är tillämpliga för varje avrop som sker inom ramen för ramavtalet oberoende av om detta anges i avropsförfrågan eller inte.<br />
        Mer information om ramavtalet, tolkförmedlingarna samt vägledning och avropsstöd finns på:
    </div>
    <div class="col-sm-12">
        <a href="https://www.avropa.se/ramavtal/ramavtalsomraden/Ovriga-tjanster/tolkformedlingstjanster/">https://www.avropa.se/ramavtal/ramavtalsomraden/Ovriga-tjanster/tolkformedlingstjanster/</a>
    </div>
</div>
