
@{
    ViewData["Title"] = "Frågor & svar";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-sm-12">
        Här kommer det komma frågor och svar kring tjänsten.
    </div>
</div>
