@model Tolk.Web.Models.StartViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>Startsida</h2>
        @Model.Message
    </div>
    <div class="col-md-4">
        <h2>Nyheter</h2>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>2018-04-19 Utveckling</h3>
            </div>
            <p class="panel-body">
                Applikationen är under utveckling och detta är aktuell utvecklingsversion, som inte innehåller komplett funktionalitet.
            </p>
        </div>
    </div>
</div>