@model RegisterViewModel
@using Tolk.BusinessLogic
@{
    ViewData["Title"] = Constants.SystemName;
}

<div class="row">
    <div class="col-md-8">
        <h2>Välkommen till @Constants.SystemName</h2>
        <p>
            I Kammarkollegiets tolktjänst kan ansluta myndigheter avropa tolktjänster,
            och anslutna förmedlingar och tolkar kan hantera avrop.
        </p>
        <p>
            Som användare på en ansluten myndighet eller tolkförmedling kan du själv
            registrera ett användarkonto. Som tolk får du automatiskt ett användar-konto
            när den första förmedlingen tilldelar dig ett uppdrag. Du får då ett
            e-post-meddelande om hur du aktiverar ditt konto.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Registrera användarkonto</h2>
        <form method="post" asp-action="Register" asp-controller="Account">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form-entry asp-for="Email"/>
            <button type="submit" class="btn btn-success">Skapa konto</button>
        </form>
    </div>
</div>

