@model LoginViewModel
@using Tolk.BusinessLogic
@{
    ViewData["Title"] = Constants.SystemName;
}

<div class="row">
    <div class="col-md-4 login-page page-shadow">
        @await Html.PartialAsync("_LoginPagePartial")
    </div>
    <div class="col-md-8 welcome-info">
        @await Html.PartialAsync("_AppInfo")
    </div>
</div>

@section Scripts{ 
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
