@{
    ViewData["Title"] = "Testa APIer";
}

    <div>
        <h1 class="display-4">Customer mock</h1>
        <h3 class="display-4">Testa att anropa Myndighetsapierna härifrån.</h3>
        <p><button class="create-order">Beställ tolk</button></p>
    </div>
