@model FaqFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
<div class="col-sm-12">
    <form method="get" class="filter-form do-not-check-dirty">
        <div class="row">
            <div class="col-xs-4">
                <h4>Filtrera</h4>
            </div>
            <div class="col-xs-8">
                <a class="btn btn-primary do-not-check-dirty reset-filter-button" href="@Url.Action("List")">Rensa filter <span class="btn-small-remove-times">&times;</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="QuestionAnswer" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="IsDisplayed" type="select" asp-items="SelectListService.BoolList" class="allow-clear"  />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="DisplayedFor" type="select" asp-items="SelectListService.DisplayForUserRoles" class="allow-clear" />
            </div>
        </div>
    </form>
</div>
