@model Tolk.Web.Models.FaqModel
@{
    ViewData["Title"] = "Ändra FAQ-fråga";
}
<form method="post">
    <div class="row">
        <div class="col-sm-12">
            <h2>@ViewData["Title"]</h2>
            @await Html.PartialAsync("_Faq", Model)
            <div class="row">
                <div class="col-sm-12">
                    <input asp-for="FaqId" type="hidden" />
                    <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-action="List">Avbryt <span class="btn-remove-times">&times;</span></a>
                    <button class="btn btn-large btn-success pull-right">Ändra FAQ-fråga</button>
                </div>
            </div>

        </div>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}