@model Tolk.Web.Models.RequestModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
@{
    ViewData["Title"] = "Hantera uppdrag";
}

<div class="row">
    <div class="col-md-8">
        <h2>Under arbete</h2>
    </div>
</div>
