@model Tolk.Web.Models.SystemMessageModel

@{
    ViewData["Title"] = "Skapa nyhet";
}
<section aria-label="@ViewData["Title"]">
    <div class="row">
        <div class="col-sm-12">
            <h1>@ViewData["Title"]</h1>
            <form method="post">
                @await Html.PartialAsync("_SystemMessage", Model)
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-action="List">Avbryt <span class="btn-remove-times">&times;</span></a>
                        <button class="disable-on-click btn btn-large btn-success pull-right">Skapa nyhet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
