@model NotificationSettingsModel
<div class="row">
    <div class="col-sm-8">
        <display-entry asp-for="Type" />
        <br />
        <form-entry asp-for="UseEmail" />
        <form-entry asp-for="SpecificEmail" />
        <br />
        <form-entry asp-for="UseWebHook" />
        <form-entry asp-for="WebHookUrl" />
    </div>
</div>
