@model UserFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
<div class="col-md-4">
    <h4>Filtrera</h4>
    <form method="get" class="filter-form container do-not-check-dirty">
        <div class="row">
            <div class="col-xs-3">
                <form-entry asp-for="Name" />
            </div>
            @if (Model.IsSystemAdministrator)
            {
                <div class="col-xs-3">
                    <form-entry asp-for="OrganisationIdentifier" type="select" asp-items="SelectListService.Organizations" class="allow-clear" />
                </div>
            }
            <div class="col-xs-3">
                <form-entry asp-for="Roles" type="select" asp-items="SelectListService.SearchableRoles" class="allow-clear" />
            </div>
            <div class="col-xs-3">
                <form-entry asp-for="OnlyActive" />
            </div>
        </div>
    </form>
</div>
