@model ChangeApiKeyModel;
@{
    ViewData["Title"] = "Ändra Api-nyckel";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <form method="post" class="do-not-check-dirty">
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="ApiKey" />
                <form-entry asp-for="CurrentPassword" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-warning btn-large pull-left do-not-check-dirty" asp-action="ViewOrganisationSettings">Avbryt <span class="btn-remove-times">&times;</span></a>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success btn-large pull-right">Spara nyckel</button>
            </div>
        </div>
    </form>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
