@model UserModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
@{
    ViewData["Title"] = "Skapa användare";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="col-md-8 error-message">@Model.ErrorMessage</div>
    }
</div>
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <form-entry asp-for="Email" />
            <form-entry asp-for="NameFirst" />
            <form-entry asp-for="NameFamily" />
            <form-entry asp-for="PhoneWork" />
            <form-entry asp-for="PhoneCellphone" />
            <form-entry asp-for="IsSuperUser" />
            @if (Model.EditorIsSystemAdministrator)
            {
                <form-entry asp-for="OrganisationIdentifier" type="select" asp-items="SelectListService.Organizations" class="allow-clear" />
            }
            <button type="submit" class="btn btn-success">Skapa</button>
            <a class="btn btn-danger pull-right do-not-check-dirty" href="@Url.Action("List")">Avbryt</a>
        </form>
    </div>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
