@model OrganisationSettingsModel
@{
    ViewData["Title"] = "Organisationens inställningar";
}
<h2>@ViewData["Title"]</h2>
<form method="post">
    <div class="row">
        <div class="col-sm-12">
 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <display-entry asp-for="UserName" />
            <br />
            <form-entry asp-for="UseApiKeyAuthentication" />
            <form-entry asp-for="ApiKey" />
            <br />
            <form-entry asp-for="UseWebHook" />
            <form-entry asp-for="RequestCreatedWebHook" />
        </div>
        <div class="col-sm-4">
            <form-entry asp-for="Email" />
            <br />
            <form-entry asp-for="UseCertificateAuthentication" />
            <form-entry asp-for="CertificateSerialNumber" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-controller="Home" asp-action="Index">Avbryt <span class="btn-remove-times">&times;</span></a>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-large btn-success pull-right">Spara</button>
        </div>
    </div>

</form>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
