@model OrganisationSettingsModel
@using Tolk.Web.Services
@inject HelpLinkService HelpLinkService
@{
    ViewData["Title"] = "Ändra organisationsinställningar";
    HelpLinkService.PageName = "formedling-andra-installningar";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"] @HelpLinkService.HeaderAnchor()</h1>
    <form method="post">
        <h2>Allmänn information</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <display-entry asp-for="BrokerName" />
                </div>
                <div class="col-sm-4">
                    <form-entry asp-for="OrganisationNumber" />
                </div>
                <div class="col-sm-4">
                    <form-entry asp-for="EmailRequests" />
                </div>
            </div>
        </div>
        <h2>Kontaktinformation</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <form-entry asp-for="ContactEmail" />
                </div>
                <div class="col-sm-4">
                    <form-entry asp-for="ContactPhone" />
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <h2>Integrationsinställningar</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <display-entry asp-for="ApiUserName" />
                </div>
                <div class="col-sm-4">
                    <form-entry asp-for="UseApiKeyAuthentication" />
                    <form-entry asp-for="CallbackApiKey" />
                </div>
                <div class="col-sm-4">
                    <form-entry asp-for="UseCertificateAuthentication" />
                    <form-entry asp-for="CertificateSerialNumber" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-action="ViewOrganisationSettings">Avbryt <span class="btn-remove-times">&times;</span></a>
                </div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-large btn-success pull-right">Spara</button>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
