@model UserModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Användardetaljer";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-8">
        <display-entry asp-for="NameFull" />
        <display-entry asp-for="Email" />
        <display-entry asp-for="PhoneWork" />
        <display-entry asp-for="PhoneWork" />
        <display-entry asp-for="PhoneCellphone" />
        <display-entry asp-for="IsSuperUser" />
        <span class="pull-right">
            <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Ändra användaruppgifter</a>
        </span>
    </div>
</div>
