@model DefaultSettingsViewModel
@await Html.PartialAsync("_DefaultSettingsView", Model)
<div class="row">
    <div class="col-sm-8">
        <a class="btn btn-warning btn-large pull-left" href="@Url.Action("View", new { id = Model.Id, ba = Model.UserPageMode.BackAction, bi = Model.UserPageMode.BackId, bc = Model.UserPageMode.BackController })"><span class="center-glyphicon glyphicon glyphicon-triangle-left"></span> Tillbaka </a>
    </div>
</div>
