// Import Merriweather Sans
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700');
@font-family: "Merriweather Sans", sans-serif;
@height-input: 34px;
@darkestgray: #646464;
@darkgray: #767676;
@gray: #979797;
@lightgray: #DDD;
@lightestgray: #F1F4F2;
@ultraligtgray: #F4F4F4;
@primary: #82A7A0;
@primary-lighter: #95BFB7;
@primary-lightest: #BFDDD2;
@primary-ultralight: #E6F1ED;
@primary-darker: #587573;
@primary-darkest: #445352;
@border-default: 1px solid @gray;
@border-select-color: #445352;
@border-shadow-color: #445352;
@green: #77CB7F;
@blue: #6BA3E4;
@red: #E45C5C;
@yellow: #EFE875;
@warning: #A94442;
@warning-background: linen;

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.bg-gray {
    background-color: @lightestgray;
}

body {
    color: black;
    background-image: linear-gradient(180deg, @lightestgray, #fff);
}

label {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 3px;
    font-weight: normal;
}

body, label, legend, h1, h2, h3, h4, h5, h6, small {
    font-family: @font-family;
}

h1 {
    line-height: 45px;
    font-size: 36px;
}

h2 {
    line-height: 31px;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    line-height: 25px;
    font-size: 20px;
}

a {
    color: @primary-darker;
    text-decoration: underline;
}

a:hover, a:focus {
    color: @primary-darkest;
}

a:active {
    color: @primary-darkest;
}

a.light {
    color: @primary-lightest;
}

a.light:hover, a.light:focus {
    color: @primary-lighter;
}

a.light:active {
    color: @primary;
}

a.collapsible-section {
    color: black;
    text-decoration: none;
}

a.collapsible-section:hover,
a.collapsible-section:focus {
    text-decoration: none;
    cursor: pointer;
}

a.collapsible-section.disabled:hover,
a.collapsible-section.disabled:focus {
    cursor: default;
}

.collapsible-div {
    height: auto;
}

hr {
    height: 1px;
    color: @gray;
    background-color: @gray;
    border: none;
    margin-top: -7px;
}

.kamk-footer {
    background-color: @primary-darkest;
    color: white;
    font-weight: 300;
    line-height: 2;
    margin-top: 70px;
    padding: 40px 15px;
}

.kamk-footer a {
    color: white;
    text-decoration: none;
}

.kamk-footer-logo {
    background-color: black;
    color: white;
    text-align: center;
}

.center-content {
    float: none;
    margin: 0 auto;
}

.maxwidth {
    max-width: 1200px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 80px;
    float: none;
    max-width: 1200px;
}

.page {
    min-height: 500px;
    background-color: white;
    padding: 10px 10px;
    float: none;
    margin: 0 auto;
}

.page-shadow {
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.5);
}

@media(min-width: 768px) {
    .page {
        padding: 10px 40px;
    }
}

.select2-container,
.select2-container--default,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    height: @height-input;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: @height-input;
}

.select2-container--default.select2-container--focus, .select2-selection.select2-container--default:focus, .select2-selection:focus, .select2-container--default:active, select2.selection:active {
    outline: none;
    border: 1px;
    border-radius: 0px;
    border-color: black;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px @border-shadow-color;
    height: @height-input;
}

.select2-container,
.select2-container--default,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-dropdown {
    border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: @primary-lightest;
    color: black;
}

.select2-search.selec2-search:active, .select2-search__field, .select2-search__field:focus, .select2-search__field:active {
    border: @border-default;
    outline: none;
}

.select2-container--classic .select2-selection--single:focus,
.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--classic .select2-selection--multiple:focus,
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: @border-default;
    outline: none;
}


/*The container */
.radiocontainer {
    display: block;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 80%;
    border: @border-default;
}

/* On mouse-over, add a background color */
.radiocontainer:hover input ~ .checkmark {
    background-color: @primary-lightest;
}

/* When the radio button is checked, add a white background color */
.radiocontainer input:checked ~ .checkmark {
    background-color: white;
    border: 1px solid @gray; // 1px solid @gray;
    height: 18px;
    width: 18px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
    top: 1px;
    left: 1px;
    width: 14px;
    height: 14px;
    border-radius: 80%;
    background: @primary;
}

.radio-text {
    padding-left: 25px;
    font-size: 14px;
}

.radiobutton-row-space {
    margin-bottom: 5px;
}

.subitem {
    font-size: 14px;
}

.competence-level {
    padding: 0px;
    margin: 0px;
}

#RequestedCompetenceLevelSecond, #RequestedCompetenceLevelFirst {
    font-size: 12px;
    width: 200px;
    padding: 0px;
    margin: 0px;
}

#AssignmentType_rbGroup {
    padding-top: 10px;
    margin-bottom: 20px;
}

.navbar-right {
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#impersonation-select {
    width: 450px;
}


//override bootstrap

.row {
    padding-bottom: 15px;
}

.detail-text {
    font-weight: 300;
}

.datepicker {
    border-radius: 0px;
}

.form-control.datepicker.time-range-part {
    width: 120px;
    padding-left: 5px;
    padding-right: 1px;
}

.datepicker table tr td,
.datepicker table tr th {
    border-radius: 0px;
    border: none;
}

.datepicker table tr td.active, .datepicker table tr td.active.highlighted {
    color: #fff;
    background-color: @primary;
}

.datepicker table tr td.today, .datepicker table tr td.today.active, .datepicker table tr td.today:active, .datepicker table tr td.today:active:hover,
.datepicker table tr td.today.active:hover, .datepicker table tr td.today:active:focus, .datepicker table tr td.today.active:focus,
.datepicker table tr td.today:active.focus, .datepicker table tr td.today.active.focus {
    background-color: @primary-lightest;
}

.datepicker table tr td.today:focus, .datepicker table tr td.today.focus, .datepicker table tr td.today:hover {
    color: #000;
    background-color: @primary-lighter;
}

.datepicker table tr td.active.active.focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.active:hover {
    color: #fff;
    background-color: @primary-darkest;
}

.datepicker table tr td.active.highlighted.active.focus, .datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active.highlighted.focus:active,
.datepicker table tr td.active.highlighted:focus:active, .datepicker table tr td.active.highlighted:hover:active,
.datepicker table tr td.active.focus:active, .datepicker table tr td.active:focus:active, .datepicker table tr td.active:hover:active,
.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
    color: #fff;
    background-color: @primary-darker;
}

.datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:active {
    color: #777;
    background-color: @primary-lightest;
}

.datepicker table tr td.today:hover, .datepicker table tr td.today.disabled.focus, .datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today.disabled:hover, .datepicker table tr td[disabled].today.focus, .datepicker table tr td[disabled].today:focus,
.datepicker table tr td[disabled].today:hover, fieldset[disabled] .datepicker table tr td.today.focus,
fieldset[disabled] .datepicker table tr td.today:focus, fieldset[disabled] .datepicker table tr td.today:hover {
    background-color: @primary-lighter;
}

.input-group.time > .form-control {
    width: 80px;
}

.input-group.time > .input-group-addon {
    width: auto;
}

.input-group.date > .input-group-addon {
    width: auto;
}

.input-group-addon {
    background-color: white;
    border: none;
    padding-left: 3px;
}

.clickable-rows > tbody > tr > td, .clickable-rows-with-action > tbody > tr > td {
    cursor: pointer;
}

.form-control {
    height: @height-input;
    border-radius: 0px;
    border: @border-default;
}

.form-control:focus {
    outline: none;
    border-radius: 0px;
    border-color: @border-select-color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px @border-shadow-color;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px @border-shadow-color;
}

.center-glyphicon {
    top: 3px;
}

//get rid of ugly yellow autocomplete color in chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: @border-default;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
    transition: background-color 5000s ease-in-out 0s;
}

.btn {
    border-radius: 0px;
    border: none;
    text-decoration: none;
}

.btn-large {
    width: 268px;
    height: 50px;
    font-size: 14pt;
}

.btn-remove-times {
    font-size: 30px;
    vertical-align: middle;
    line-height: normal;
}

.btn-small-remove-times {
    font-size: 20px;
    vertical-align: middle;
}

a.btn-large {
    vertical-align: middle;
    line-height: 2;
}

.btn-primary {
    background-color: @primary-lightest;
    color: black;
}

.btn-default, .btn-success {
    background-color: @primary-lighter;
    color: black;
}

.btn-warning {
    border: none;
    background-color: @primary-ultralight;
    color: black;
}

.btn-danger {
    border: none;
    background-color: @primary-darkest;
    color: white;
}

.btn-danger:hover,
.btn-danger.hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:focus,
.btn-danger:active:hover {
    background-color: @primary-lightest;
    background-position: 0 -15px;
    color: black;
    border: none;
}

.btn-warning:hover,
.btn-warning.hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:focus,
.btn-warning:active:hover {
    background-color: @primary-lightest;
    background-position: 0 -15px;
    color: black;
    border: none;
}

.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary:active.focus,
.btn-primary.hover:focus,
.btn-primary:focus.hover,
.btn-primary.disabled:hover,
[disabled].btn-primary:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, [disabled].btn-primary:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, [disabled].btn-primary.focus, fieldset[disabled] .btn-primary.focus {
    background-color: @primary-lighter;
    background-position: 0 -15px;
    color: black;
    border: none;
}

.btn-success:hover,
.btn-success.hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success:active.focus,
.btn-success.hover:focus,
.btn-success:focus.hover,
.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default:active.focus,
.btn-default.hover:focus,
.btn-default:focus.hover {
    background-color: @primary;
    background-position: 0 -15px;
    color: black;
    border: none;
}

input[type='checkbox'] {
    margin-top: 3px;
    margin-right: 10px;
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
    content: '';
    border: none;
}

input[type='checkbox'][disabled]:after {
    background: @lightestgray;
    border-color: @darkestgray;
}

input[type='checkbox']:after {
    content: '';
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 13px;
    width: 13px;
    left: 0;
    top: 0;
    font-size: 10px;
    border: @border-default;
    background: white;
}

input[type='checkbox']:checked:hover:after {
    background: @primary-darker;
    content: '\2714';
    color: white;
    border: none;
}

input[type='checkbox']:hover:after {
    border-color: black;
}

input[type='checkbox']:checked:after {
    background: @primary;
    content: '\2714';
    color: white;
    border: none;
}

.required-star {
    font-size: 16px;
    position: relative;
    top: 1px;
    line-height: 20px; /* To prevent star from pushing form fields apart.*/
    margin-left: 1px;
}

.form-entry-information {
    font-size: 15px;
    color: @primary;
    cursor: help;
    position: relative;
}

.form-entry-information:active:before {
    color: black;
    content: attr(title);
    margin-left: 10px;
    background: none;
    font-size: 11px;
    font-family: @font-family;
}

.tooltip .tooltip-inner {
    background-color: @primary-darker;
    border-radius: 0;
    text-align: left;
}

.tooltip.in {
    opacity: 1;
}

.tooltip.top .tooltip-arrow {
    border-top-color: @primary-darker;
}

.d-none {
    display: none;
}

.table-button-column, .table-remove-column {
    cursor: pointer;
}

.table-button-column.fixed {
    width: 16px;
}

.table-full-column {
    width: 100%;
}

.table-description-column, .table-type-column {
    width: 50%;
}

.table-start-column, .table-end-column {
    width: 40%;
}

.table-remove-column {
    width: 20%;
}

.table-attached-files table tbody tr td, .table-attached-files table thead tr td, .table-attached-files table thead tr, .table-attached-files tr td, .table-attached-files tbody tr td {
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-top: 1px solid #fff;
    padding: 4px;
}

.file-table-add table tbody tr td, .file-table-add table thead tr td, .file-table-add table thead tr, .file-table-add tr td, .file-table-add tbody tr td {
    background-color: @lightestgray;
    font-size: 12px;
    cursor: pointer;
    border-top: 1px solid #fff;
    padding: 8px;
}

.order-requirement-table table tbody tr td, .order-requirement-table table thead tr td, .order-requirement-table table thead tr, .order-requirement-table tr td, .order-requirement-table tbody tr td,
.order-desiredRequirement-table table tbody tr td, .order-desiredRequirement-table table thead tr td, .order-desiredRequirement-table table thead tr, .order-desiredRequirement-table tr td, .order-desiredRequirement-table tbody tr td {
    background-color: @lightestgray;
    font-size: 12px;
    border-top: 1px solid #fff;
    padding: 8px;
}

.order-requiremnt-view-list {
    padding-left: 20px;
}

.dropdown-menu {
    padding: 15px;
}
/*Dragging stuff*/
.draggable {
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    cursor: move;
    user-select: none;
}

body.dragging, body.dragging * {
    cursor: move;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

li.placeholder {
    position: relative;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid red;
    width: 100%;
    opacity: 0.5;
}

li.placeholder::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -6px;
    top: 0;
    left: -10px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
}

.drag-panel {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.border {
    border: 1px solid #ccc;
    padding: 7px;
    margin-bottom: 10px;
}

.no-padding {
    padding: 0;
}

.font-size-14 {
    font-size: 14px;
}

.line-break {
    white-space: pre-line;
}

.select-short {
    width: 175px !important;
}

.price-header {
    font-size: 16px;
}

.price-column {
    text-align: right;
    padding-left: 20px;
}

.price-body {
    padding-top: 10px;
    float: none;
}

.bold {
    font-weight: bold;
}

.important-info {
    margin-bottom: 20px;
    font-style: italic;
    color: @darkestgray;
}

.more-info {
    color: @darkestgray;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
}

.no-value-info {
    font-style: italic;
    color: @darkestgray;
    font-weight: 300;
}

.group-box {
    margin-bottom: 10px;
}

.grouped-form-boxes .form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.header-with-line {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.warning-info {
    background-color: @warning-background;
    border: 1px solid @warning;
    color: @warning;
    padding: 12px 12px 0px 12px;
    margin-left: 0px;
    margin-right: 0px;
}

.to-accept-info {
    background-color: @primary-ultralight;
    border: none;
    color: black;
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    margin-bottom: 20px;
}

.no-result-message {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
    font-style: italic;
}

.reset-filter-button {
    float: right;
    padding-bottom: 1px;
    padding-top: 3px;
    vertical-align: middle;
}

.panel {
    border-radius: 0;
}

.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-info {
    border-color: @primary-lighter;
}

.panel > .panel-heading {
    color: white;
    background-color: @primary-darker;
    border-color: @primary-lighter;
}

.panel > .panel-heading.warning {
    color: @warning;
    background-color: @warning-background;
    border-color: @warning;
}

.info-message {
    font-size: 18px;
    padding-left: 10px;
}

.shortcut-box {
    color: @primary-darker;
}

.competence-ranking-num {
    font-size: 12pt;
    line-height: 2;
}

.prefix {
    padding-left: 5px;
    display: inline-block;
    width: 30px;
    padding-top: 5px;
}

#RequiredCompetenceLevels {
    padding-top: 5px;
}

.navbar-default {
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    font-size: 17px;
    padding-left: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: @primary;
    box-shadow: inset 0 -3px 0 @primary;
}

.navbar-default .navbar-nav > li > a:active {
    color: @primary-darker;
    box-shadow: inset 0 -3px 0 @primary-darker;
}

.navbar-default .navbar-brand {
    color: black;
}

ul.pagination > li.paginate_button > a {
    color: @primary-darker;
    border-radius: 0;
}

ul.pagination > li.paginate_button.disabled > a {
    color: @gray;
}

ul.pagination > li.paginate_button.active > a {
    color: white;
    background-color: @primary;
    border-color: @primary;
}

.modal-content {
    border-radius: 0;
}

#TravelCosts, #TimeWasteTotalTime, #TimeWasteIWHTime {
    width: 30%;
}

#ExpectedTravelCosts {
    width: 31%;
}

.panel-heading {
    background-color: @primary-darker;
    border-color: @primary-darker;
}

.detail-price-info {
    background-color: @lightestgray;
}

#RequirementType {
    width: 300px;
}

#ContactPersonId {
    width: 200px;
}


.progressbar {
    margin-top: 35px;
    margin-bottom: 30px;
    max-width: 100%;
}

.requirement-checkbox {
    font-weight: 300;
    font-style: italic;
    margin: 0;
    margin-top: -12px;
}

.login {
    background-color: @primary;
    padding-bottom: 80px;
}

.login-div-logo {
    margin-top: -50px;
    margin-bottom: 10px;
}

.login-padding-top {
    padding-top: 80px;
}

.login-page {
    background-color: white;
    padding: 30px 20px;
    margin-top: -30px;
    min-height: 460px;
}

.padding-bottom-30px {
    padding-bottom: 30px;
}

.padding-bottom-60px {
    padding-bottom: 60px;
}

.welcome-info {
    color: white;
    background-color: @primary-darker;
    padding: 30px 20px 45px 20px;
}

.logo-navbar {
    margin-top: -12px;
    height: 40px;
}

.logo-footer {
    padding-top: 10px;
}

.logo-login {
    padding-bottom: 5px;
    padding-left: 40px;
    margin-top: -30px;
}

.no-padding-margin {
    padding: 0px;
    margin: 0px;
}

input.force-validation {
    opacity: 0;
    position: absolute;
    left: -15px;
    pointer-events: none;
}

.navbar > .container {
    width: 100%;
}

@media (min-width: 1200px) {
    ul.nav.navbar-nav > li {
        padding: 0px 10px;
    }
}

.navbar-nav > li > a {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.text-align-center {
    text-align: center;
}

.btn-logout {
    line-height: 50px;
    font-size: 17px;
    color: black;
    background-color: white;
    border: none;
    outline: none;
    padding: 0px;
}

.btn-logout:hover {
    color: @primary;
    box-shadow: inset 0 -3px 0 @primary;
}

.list-header {
    font-size: 20px;
    font-weight: 300;
    color: @darkgray;
}

.list-line {
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}

.list-line span {
    position: relative;
}

.list-line span:before,
.list-line span:after {
    line-height: 2px;
    content: "";
    position: absolute;
    border-bottom: 1px solid @darkgray;
    border-top: 1px solid @darkgray;
    width: 1200px;
    height: 2px;
    top: 50%;
}

.list-line span:before {
    right: 100%;
    margin-right: 15px;
}

.list-line span:after {
    left: 100%;
    margin-left: 15px;
}

.list-empty {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.table > thead > tr > th {
    border: none;
}

.startlist-row > tbody > tr, .clickable-rows-with-action > tbody > tr {
    font-weight: 300;
    height: 70px;
}

.startlist-table, .search-table {
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.normal-weight {
    font-weight: normal;
}

.startlist-subrow-red {
    color: @red;
    .startlist-subrow
}

.startlist-subrow {
    font-size: 12px;
    vertical-align: bottom;
}

.blue-border-left {
    border-left: 4px solid @blue;
    padding-left: 5px;
}

.red-border-left {
    border-left: 4px solid @red;
    padding-left: 5px;
}

.green-border-left {
    border-left: 4px solid @green;
    padding-left: 5px;
}

.yellow-border-left {
    border-left: 4px solid @yellow;
    padding-left: 5px;
}

.gray-border-left {
    border-left: 4px solid @darkestgray;
    padding-left: 5px;
}

.gray-border-right {
    border-right: 1px solid @lightgray;
}

.gray-border-bottom {
    border-bottom: 1px solid @lightgray;
}

.sorting {
    color: @darkgray;
    font-weight: normal;
}

.sorting_asc, .sorting_desc {
    color: @darkgray;
}

.sorting:after {
    opacity: 1 !important;
    color: @primary;
}

.sorting_asc:after, .sorting_desc:after {
    opacity: 1 !important;
    color: @primary-darker;
}

.loading-text {
    font-size: 24px;
    color: @gray;
}

.nav.nav-tabs.nav-justified {
    padding-top: 7px;
    background-color: @lightestgray;
}

.nav.nav-tabs.nav-justified > li > a {
    text-align: center;
    font-size: 24px;
    color: black;
    background-color: @lightestgray;
    border: none;
    border-radius: 0;
    padding-top: 20px;
    text-decoration: none;
}

.nav.nav-tabs.nav-justified > .active > a {
    background-color: white;
    border: none; // Takes away hover border
}

.nav.nav-tabs.nav-justified > .disabled > a {
    color: @gray
}

.invoice-line {
    margin-top: 8px;
    margin-bottom: 6px;
    background-color: black;
    height: 2px;
}

.small-invoice-line {
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: black;
}

.right-padding {
    padding-right: 8px;
}

.left-padding {
    padding-left: 8px;
}

.align-top {
    vertical-align: top;
}

.invoice-table {
    vertical-align: top;
    font-weight: 300;
    width: 100%;
}

.submenu {
    font-size: 17px;
    text-decoration: none;
    padding-bottom: 10px;
    padding: 0px;
}

.dropdown-menu > li > a, .dropdown-menu > li > a:hover {
    padding-left: 0px;
    padding-right: 0px;
}

.dropdown-menu > li > a:hover {
    color: @primary;
    background-color: white;
    text-decoration: underline;
}

@media (min-width: 1200px) {
    .right-lg-button {
        float: right;
    }
}

@media (min-width: 1200px) {
    .left-lg-button {
        float: left;
    }
}

@media (min-width: 1200px) {
    .center-lg-button {
        text-align: center;
    }
}

@media (min-width: 604px) and (max-width: 767px) {
    .right-md-button {
        float: right;
    }
}

@media (min-width: 793px) {
    .right-md-button {
        float: right;
    }
}

@media (min-width: 604px) {
    .left-md-button {
        float: left;
    }
}

@media (min-width: 604px) {
    .center-md-button {
        text-align: center;
    }
}

.appInfo-header {
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    color: @ultraligtgray;
    letter-spacing: 3px;
    border-bottom: 2px solid @ultraligtgray;
    margin-left: 25%;
    margin-right: 25%;
}

.appInfo-test {
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    color: @ultraligtgray;
    letter-spacing: 3px;
}

.appInfo-subheader {
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: @ultraligtgray;
    letter-spacing: 1.8px;
}

.form-entry-help {
    font-size: 15px;
    color: @primary;
    cursor: help;
    position: relative;
}

.environment-banner {
    position: absolute;
    font-size: 10px;
    top: 0px;
    left: 100px;
}

.neg-margin-top {
    margin-top: -45px;
}