// Import Merriweather Sans
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,400i,700');
@font-family: "Merriweather Sans", sans-serif;
@height-input: 34px;
@gray: #979797;
@primary: #82A7A0;
@primary-lighter: #95BFB7;
@primary-lightest: #BFDDD2;
@primary-darker: #587573;
@primary-darkest: #445352;
@border-default: 1px solid @gray;
@border-select-color: #445352;
@border-shadow-color: #445352;
@btn-cancel-color-default: rgba(191,221,210,0.3);
@temp-bgcolor: #F0F0F0;



body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient(180deg, @temp-bgcolor, #fff);
}

label {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 3px;
}

body, label, legend, h1, h2, h3, h4, h5, h6, small {
    font-family: @font-family;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    float: none;
}

.page {
    background-color: white;
    padding: 10px 20px;
    float: none;
    margin: 0 auto;
}

.select2-container,
.select2-container--default,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-dropdown {
    border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: @gray;
    color: white;
}

.select2-container--classic .select2-selection--single:focus,
.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--classic .select2-selection--multiple:focus,
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: @border-default;
}

.navbar-right {
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#impersonation-select {
    width: 450px;
}

.input-group > .form-control.datepicker {
    width: 120px;
}

.input-group.time > .form-control {
    width: 80px;
}

.input-group.time > .input-group-addon {
    width: auto;
}

.clickable-rows > tbody > tr > td, .clickable-rows-with-action > tbody > tr > td {
    cursor: pointer;
}
/*Should be in less or other*/

//override bootstrap
.form-control {
    height: @height-input;
    border-radius: 0px;
    border: @border-default;
}

.form-control:focus {
    border-radius: 0px;
    border-color: @border-select-color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px @border-shadow-color;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px @border-shadow-color;
}

.btn {
    border-radius: 0px;
    border: none;
}

.btn-default, .btn-primary, .btn-success {
    background-color: @primary-lighter;
    color: black;
}

.btn-warning {
    border: none;
    background-color: @btn-cancel-color-default;
    color: black;
}

.btn-danger {
    border: none;
    background-color: @primary-darkest;
    color: white;
}

.btn-danger:hover,
.btn-danger.hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:focus,
.btn-danger:active:hover {
    background-color: @primary-lightest;
    background-position: 0 -15px;
    color: black;
}

.btn-warning:hover,
.btn-warning.hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:focus,
.btn-warning:active:hover {
    background-color: @primary-lightest;
    background-position: 0 -15px;
    color: black;
}

.btn-success:hover,
.btn-success.hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success:active.focus,
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary:active.focus,
.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default:active.focus {
    background-color: @primary;
    background-position: 0 -15px;
    color: black;
}

.shortcut-box {
    text-align: center;
}

.required-star {
    font-size: 16px;
    position: relative;
    top: 1px;
    line-height: 20px; /* To prevent star from pushing form fields apart.*/
    margin-left: 1px;
}

.form-entry-information {
    color: @primary;
    cursor: help;
    position: relative;
}

.form-entry-information:active:before {
    color: #777;
    content: attr(title);
    padding: 10px;
    border: 2px solid #777;
    background: #fff;
    font-size: 11px;
    font-family: Helvetica Neue,Helvetica, Arial, sans-serif;
    letter-spacing: 0.6px;
}

.display-label {
    font-weight: bold;
}

.input-label {
    font-weight: normal;
}

.d-none {
    display: none;
}

.table-button-column {
    cursor: pointer;
}

.table-button-column.fixed {
    width: 16px;
}

.table-full-column {
    width: 100%;
}

.table-description-column {
    width: 60%;
}

.table-type-column {
    width: 30%;
}

.table-is-required-column {
    width: 10%;
}

.edit-link {
    float: right;
}

.dropdown-menu {
    padding: 15px;
}

/*Dragging stuff*/
.draggable {
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    cursor: move;
    user-select: none;
}

body.dragging, body.dragging * {
    cursor: move;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

li.placeholder {
    position: relative;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid red;
    width: 100%;
    opacity: 0.5;
}

li.placeholder::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -6px;
    top: 0;
    left: -10px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
}

.drag-panel {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.border {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 7px;
    margin-bottom: 10px;
}

.no-padding {
    padding: 0;
}

.font-size-14 {
    font-size: 14px;
}

.line-break {
    white-space: pre-line;
}

.select-short {
    width: 175px !important;
}

.price-header {
    font-size: 16px;
}

.price-column {
    text-align: right;
    padding-left: 20px;
}

.bold {
    font-weight: bold;
}

.important-info {
    margin-bottom: 20px;
    font-style: italic;
}

.group-box {
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.grouped-form-boxes .form-group {
    margin-left: 10px;
    margin-right: 10px;
}

.header-with-line {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.error-message {
    background-color: #FCE5EF;
    border: 1px solid #E20076;
    min-height: 28px;
    padding: 12px 12px 8px 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.no-result-message {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
    font-style: italic;
}

.reset-filter-button {
    margin-bottom: 10px;
    margin-right: 20px;
    float: right;
}
