body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.input-group > .form-control.datepicker {
    width: 120px;
}

.input-group.time > .form-control {
    width: 80px;
}

table.clickable-rows > tbody > tr > td {
    cursor: pointer;
}
/*Should be in less or other*/

h1.shortcut-box {
    text-align: center;
}

.required-star{
    color: red;
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: 1px;
    line-height: 10px; /* To prevent star from pushing form fields apart.*/
    margin-left: 1px;
}