@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,400i,700');
body {
  color: black;
  padding-top: 50px;
  background-image: linear-gradient(180deg, #F0F0F0, #fff);
}
label {
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  margin-bottom: 3px;
  font-weight: normal;
}
body,
label,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-family: "Merriweather Sans", sans-serif;
}
h1 {
  line-height: 45px;
  font-size: 36px;
}
h2 {
  line-height: 31px;
  font-size: 24px;
}
h3 {
  line-height: 25px;
  font-size: 20px;
}
hr {
  height: 1px;
  color: #979797;
  background-color: #979797;
  border: none;
  margin-top: -7px;
}
.kamk-footer {
  background-color: #445352;
  color: white;
  font-weight: 300;
  line-height: 2;
  margin-top: 100px;
  padding: 50px 15px;
}
.kamk-footer a {
  color: white;
}
.kamk-footer-logo {
  background-color: black;
  color: white;
  text-align: center;
}
.center-content {
  float: none;
  margin: 0 auto;
}
.maxwidth {
  max-width: 1200px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-top: 30px;
  float: none;
  max-width: 1200px;
}
.page {
  background-color: white;
  padding: 10px 20px;
  float: none;
  margin: 0 auto;
  box-shadow: 1px 1px 3px #888;
}
.select2-container,
.select2-container--default,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}
.select2-container,
.select2-container--default,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-selection--single,
.select2-container--classic .select2-selection--multiple,
.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-dropdown {
  border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #979797;
  color: white;
}
.select2-container--classic .select2-selection--single:focus,
.select2-container--classic.select2-container--open .select2-selection--single,
.select2-container--classic .select2-selection--multiple:focus,
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #979797;
}
/*[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}*/
label [type="radio"]:checked,
label [type="radio"]:not(checked) {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
label [type="radio"]:checked:before,
label [type="radio"]:not(:checked):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #979797;
  border-radius: 100%;
  background: #fff;
}
label [type="radio"]:checked:after,
label [type="radio"]:not(:checked):after {
  content: '';
  width: 12px;
  height: 12px;
  background: #82A7A0;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
label [type="radio"]:not(:checked):after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
label [type="radio"]:checked:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-right {
  padding-right: 15px;
}
/* QR code generator */
#qrCode {
  margin: 15px;
}
#impersonation-select {
  width: 450px;
}
.row {
  padding-bottom: 15px;
}
.detail-text {
  font-weight: 300;
}
.datepicker {
  border-radius: 0px;
}
.form-control.datepicker.time-range-part.datepicker-short {
  width: 120px;
}
.datepicker table tr td,
.datepicker table tr th {
  border-radius: 0px;
  border: none;
}
.datepicker table tr td.active,
.datepicker table tr td.active.highlighted {
  color: #fff;
  background-color: #82A7A0;
}
.datepicker table tr td.today,
.datepicker table tr td.today.active,
.datepicker table tr td.today:active,
.datepicker table tr td.today:active:hover,
.datepicker table tr td.today.active:hover,
.datepicker table tr td.today:active:focus,
.datepicker table tr td.today.active:focus,
.datepicker table tr td.today:active.focus,
.datepicker table tr td.today.active.focus {
  background-color: #BFDDD2;
}
.datepicker table tr td.today:focus,
.datepicker table tr td.today.focus,
.datepicker table tr td.today:hover {
  color: #000;
  background-color: #95BFB7;
}
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.active:hover {
  color: #fff;
  background-color: #445352;
}
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active.highlighted.focus:active,
.datepicker table tr td.active.highlighted:focus:active,
.datepicker table tr td.active.highlighted:hover:active,
.datepicker table tr td.active.focus:active,
.datepicker table tr td.active:focus:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
  color: #fff;
  background-color: #587573;
}
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:active {
  color: #777;
  background-color: #BFDDD2;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled.focus,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td[disabled].today.focus,
.datepicker table tr td[disabled].today:focus,
.datepicker table tr td[disabled].today:hover,
fieldset[disabled] .datepicker table tr td.today.focus,
fieldset[disabled] .datepicker table tr td.today:focus,
fieldset[disabled] .datepicker table tr td.today:hover {
  background-color: #95BFB7;
}
.input-group.time > .form-control {
  width: 80px;
}
.input-group.time > .input-group-addon {
  width: auto;
}
.input-group-addon {
  background-color: white;
  border: none;
  padding-left: 3px;
}
.clickable-rows > tbody > tr > td,
.clickable-rows-with-action > tbody > tr > td {
  cursor: pointer;
}
.form-control {
  height: 34px;
  border-radius: 0px;
  border: 1px solid #979797;
}
.form-control:focus {
  border-radius: 0px;
  border-color: #445352;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #445352;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px #445352;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #979797;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: inset 0 0 0px 9999px white;
  transition: background-color 5000s ease-in-out 0s;
}
.btn {
  border-radius: 0px;
  border: none;
}
.btn-large {
  width: 268px;
  height: 50px;
  font-size: 14pt;
}
.btn-default,
.btn-primary,
.btn-success {
  background-color: #95BFB7;
  color: black;
}
.btn-warning {
  border: none;
  background-color: #E6F1ED;
  color: black;
}
.btn-danger {
  border: none;
  background-color: #445352;
  color: white;
}
.btn-danger:hover,
.btn-danger.hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:focus,
.btn-danger:active:hover {
  background-color: #BFDDD2;
  background-position: 0 -15px;
  color: black;
}
.btn-warning:hover,
.btn-warning.hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:focus,
.btn-warning:active:hover {
  background-color: #BFDDD2;
  background-position: 0 -15px;
  color: black;
}
.btn-success:hover,
.btn-success.hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success:active.focus,
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary:active.focus,
.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default:active.focus {
  background-color: #82A7A0;
  background-position: 0 -15px;
  color: black;
}
input[type='checkbox'] {
  margin-top: 3px;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
  content: '';
  border: none;
}
input[type='checkbox']:after {
  content: '';
  vertical-align: middle;
  text-align: center;
  line-height: 13px;
  position: absolute;
  cursor: pointer;
  height: 13px;
  width: 13px;
  left: 0;
  top: 0;
  font-size: 10px;
  border: 1px solid #979797;
  background: white;
}
input[type='checkbox']:checked:hover:after {
  background: #587573;
  content: '\2714';
  color: white;
  border: none;
}
input[type='checkbox']:hover:after {
  border-color: black;
}
input[type='checkbox']:checked:after {
  background: #82A7A0;
  content: '\2714';
  color: white;
  border: none;
}
.shortcut-box {
  text-align: center;
}
.required-star {
  font-size: 16px;
  position: relative;
  top: 1px;
  line-height: 20px;
  /* To prevent star from pushing form fields apart.*/
  margin-left: 1px;
}
.form-entry-information {
  color: #82A7A0;
  cursor: help;
  position: relative;
}
.form-entry-information:active:before {
  color: #777;
  content: attr(title);
  padding: 10px;
  border: 2px solid #777;
  background: #fff;
  font-size: 11px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.6px;
}
.d-none {
  display: none;
}
.table-button-column {
  cursor: pointer;
}
.table-button-column.fixed {
  width: 16px;
}
.table-full-column {
  width: 100%;
}
.table-description-column {
  width: 60%;
}
.table-type-column {
  width: 30%;
}
.table-is-required-column {
  width: 10%;
}
.edit-link {
  float: right;
}
.dropdown-menu {
  padding: 15px;
}
/*Dragging stuff*/
.draggable {
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  cursor: move;
  user-select: none;
}
body.dragging,
body.dragging * {
  cursor: move;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
li.placeholder {
  position: relative;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid red;
  width: 100%;
  opacity: 0.5;
}
li.placeholder::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -6px;
  top: 0;
  left: -10px;
  border: 5px solid transparent;
  border-left-color: red;
  border-right: none;
}
.drag-panel {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.border {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px;
  margin-bottom: 10px;
}
.no-padding {
  padding: 0;
}
.font-size-14 {
  font-size: 14px;
}
.line-break {
  white-space: pre-line;
}
.select-short {
  width: 175px !important;
}
.price-header {
  font-size: 16px;
}
.price-column {
  text-align: right;
  padding-left: 20px;
}
.bold {
  font-weight: bold;
}
.important-info {
  margin-bottom: 20px;
  font-style: italic;
}
.group-box {
  margin-bottom: 10px;
}
.grouped-form-boxes .form-group {
  margin-left: 10px;
  margin-right: 10px;
}
.header-with-line {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.error-message {
  background-color: #FCE5EF;
  border: 1px solid #E20076;
  min-height: 28px;
  padding: 12px 12px 8px 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.no-result-message {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 20px;
  font-style: italic;
}
.reset-filter-button {
  margin-bottom: 10px;
  margin-right: 20px;
  float: right;
}
.panel {
  border-radius: 0;
}
.panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-info {
  border-color: #95BFB7;
}
.panel-info > .panel-heading {
  color: white;
  background-color: #587573;
  border-color: #95BFB7;
}
.shortcut-box {
  color: #587573;
}
