body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div.navbar-right{
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.input-group > .form-control.datepicker {
    width: 120px;
}

.input-group.time > .form-control {
    width: 80px;
}

.input-group.time > .input-group-addon{
    width: auto;
}

table.clickable-rows > tbody > tr > td {
    cursor: pointer;
}
/*Should be in less or other*/

h1.shortcut-box {
    text-align: center;
}

.required-star {
    color: red;
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: 1px;
    line-height: 10px; /* To prevent star from pushing form fields apart.*/
    margin-left: 1px;
}

.form-entry-information {
    color: blue;
    display: block;
    float: right;
    cursor: help;
}

.d-none {
    display: none;
}
.table-button-column {
    cursor: pointer;
}
.table-button-column.fixed {
    width: 16px;
}

.table-description-column {
    width: 60%;
}

.table-type-column {
    width: 30%;
}

.table-is-required-column {
    width: 10%;
}

.edit-link {
    float:right;
}

.dropdown-menu{
    padding: 15px;
}