@model OrderFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
<div class="col-sm-12">
    <form method="get" class="filter-form do-not-check-dirty">
        <div class="row">
            <div class="col-xs-4">
                <h4>Filtrera</h4>
            </div>
            <div class="col-xs-8">
                <a class="btn btn-primary do-not-check-dirty reset-filter-button" href="@Url.Action("List")">Rensa filter <span class="btn-small-remove-times">&times;</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="OrderNumber" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="Status" type="select" asp-items="SelectListService.OrderStatuses" class="allow-clear" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="LanguageId" type="select" asp-items="SelectListService.Languages" class="allow-clear" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="DateRange" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="RegionId" type="select" asp-items="SelectListService.Regions" class="allow-clear" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="BrokerId" type="select" asp-items="SelectListService.Brokers" class="allow-clear" />
            </div>
        </div>
        @if (Model.IsSuperUser)
        {
            <div class="row">
                <div class="col-sm-4">
                    <form-entry asp-for="CreatedBy" type="select" asp-items="SelectListService.CustomerUsers" class="allow-clear" />
                </div>
            </div>
        }
    </form>
</div>
