@model Tolk.Web.Models.OrderModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
@using Tolk.BusinessLogic.Utilities
@{
    ViewData["Title"] = "Avropa tolk";
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form-entry asp-for="RegionId" type="select" asp-items="SelectListService.Regions" />
            <form-entry asp-for="SpecificCompetenceLevelRequired" />
            <span id="competence-required">
                <form-entry asp-for="RequiredCompetenceLevelFirst" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" />
                <form-entry asp-for="RequiredCompetenceLevelSecond" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" />
            </span>
            <span id="competence-requested">
                <form-entry asp-for="RequestedCompetenceLevelFirst" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" />
                <form-entry asp-for="RequestedCompetenceLevelSecond" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" />
                <form-entry asp-for="RequestedCompetenceLevelThird" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" />
            </span>
            <form-entry asp-for="CustomerReferenceNumber" />
            <form-entry asp-for="ContactPersonId" type="select" asp-items="SelectListService.OtherContactPersons" />
            <form-entry asp-for="UnitName" />
            <form-entry asp-for="AssignmentType" type="select" asp-items="SelectListService.AssignmentTypes" />
            <form-entry asp-for="LanguageId" class="collapse in" id="language-panel" type="select" asp-items="SelectListService.Languages" />
            <input id="OtherLanguageId" type="hidden" value="@OrderModel.OtherLanguageId" />
            <form-entry asp-for="OtherLanguage" class="collapse" id="other-language" />
            <div class="ranked-InterpreterLocation">
                <div class="location-group">
                    <form-entry asp-for="RankedInterpreterLocationFirst" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                    <div class="address-RankedInterpreterLocationFirst grouped-form-boxes">
                        <div class="address-information">
                            <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.LocationStreet" />
                            <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.LocationZipCode" />
                            <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.LocationCity" />
                        </div>
                        <div class="off-site-information">
                            <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.OffSiteAssignmentType" type="select" asp-items="SelectListService.OffSiteAssignmentTypes" />
                            <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.OffSiteContactInformation" />
                        </div>
                    </div>
                </div>
                <div class="interpreter-location-second location-group">
                    <form-entry asp-for="RankedInterpreterLocationSecond" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                    <div class="address-RankedInterpreterLocationSecond">
                        <div class="address-information">
                            <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.LocationStreet" />
                            <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.LocationZipCode" />
                            <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.LocationCity" />
                        </div>
                        <div class="off-site-information">
                            <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.OffSiteAssignmentType" type="select" asp-items="SelectListService.OffSiteAssignmentTypes" />
                            <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.OffSiteContactInformation" />
                        </div>
                    </div>
                </div>
                <div class="interpreter-location-third location-group">
                    <form-entry asp-for="RankedInterpreterLocationThird" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                    <div class="address-RankedInterpreterLocationThird">
                        <div class="address-information">
                            <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.LocationStreet" />
                            <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.LocationZipCode" />
                            <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.LocationCity" />
                        </div>
                        <div class="off-site-information">
                            <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.OffSiteAssignmentType" type="select" asp-items="SelectListService.OffSiteAssignmentTypes" />
                            <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.OffSiteContactInformation" />
                        </div>
                    </div>
                </div>
            </div>
            <form-entry asp-for="AllowMoreThanTwoHoursTravelTime" />
            <fieldset>
                <legend>Extra behov <a href="#" class="edit-link add-requirement-button font-size-14" data-toggle="modal" data-backdrop="static" data-target="#addRequirement">Lägg till behov</a></legend>
                <div class="d-none order-requirement-list border">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover order-requirement-table">
                            <thead>
                                <tr>
                                    <th>Typ</th>
                                    <th>Beskrivning</th>
                                    <th>Är krav</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            <form-entry asp-for="TimeRange" />
            <form-entry asp-for="Description" />

            <button class="btn btn-default">Skicka</button>
            <a class="btn btn-warning pull-right" asp-controller="Home" asp-action="Index">Avbryt</a>
        </form>
        <span id="baseRequirement" class="d-none">
            <input asp-for="OrderRequirements[0].OrderRequirementId" type="hidden" />
            <input asp-for="OrderRequirements[0].RequirementType" type="hidden" />
            <input asp-for="OrderRequirements[0].RequirementIsRequired" type="hidden" />
            <input asp-for="OrderRequirements[0].RequirementDescription" type="hidden" />
        </span>
    </div>
</div>
<div id="addRequirement" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lägg till behov</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_Requirement", new OrderRequirementModel())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-default save-requirement">Spara</button>
            </div>
        </div>

    </div>
</div>
@section Scripts {
<environment include="Development">
    <script src="~/js/Order/Add.js" asp-append-version="true"></script>
    <script src="~/js/Order/HandleInterpreterLocations.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/Order/add.min.js" asp-append-version="true"></script>
    <script src="~/js/Order/HandleInterpreterLocations.min.js" asp-append-version="true"></script>
</environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
