@model Tolk.Web.Models.OrderModel

@{
    ViewData["Title"] = $"Sammanfattning av bokning uppdragstyp - {Model.AssignmentType.SelectedItem.Text.ToLower()}";
    ViewData["OrderSummaryUseViewDataTitle"] = true;
    ViewData["OrderSummary_UseFolds"] = false;
}

<div class="row">
    <div class="col-sm-12 text-center">
        <img class="progressbar" src="~/images/Step2_Order.PNG" />
    </div>
    <div class="col-sm-12">
        @await  Html.PartialAsync("_OrderSummary", Model, ViewData)
    </div>
</div>



