@model Tolk.Web.Models.OrderModel

@{
    ViewData["Title"] = $"Sammanfattning av bokning uppdragstyp - {Model.AssignmentType.SelectedItem.Text.ToLower()}";
    ViewData["OrderSummary_ShowCalculatedPrice"] = true;
}

<div class="row">
    <div class="col-sm-12 text-center">
        <img class="progressbar" src="~/images/Step2_Order.PNG" />
    </div>
    <div class="col-sm-12">
        @await Html.PartialAsync("_OrderSummary", Model, new ViewDataDictionary(ViewData) { { "isCollapsible", false }, { "header", ViewData["title"] } })
        @await Html.PartialAsync("_CustomerOrganizationInfo", Model, new ViewDataDictionary(ViewData) { { "isCollapsible", false } })
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8 important-info">
                Tidsramar efter mottagande av bokningsförfrågan:
                <ul>
                    <li>Förfrågningar som görs senast två arbetsdagar före tolktillfället ska besvaras senast kl. 15.00 nästa arbetsdag</li>
                    <li>Förfrågningar som görs senast kl 14:00 arbetsdagen före tolktillfället ska besvaras senast kl 16:30 samma dag</li>
                    <li>Förfrågningar som görs efter kl 14:00 arbetsdagen före uppdragsstart, eller samma arbetsdag som uppdragsstart, skall besvaras senast enligt avroparen angiven senaste svarstid</li>
                </ul>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.WarningInfo))
        {
            <div class="row warning-info">
                <div class="col-sm-8">@Model.WarningInfo</div>
                <div class="col-sm-4">
                    <display-entry asp-for="TimeRange" />
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorInfo))
        {
            <div class="row warning-info">
                <div class="col-sm-8">@Model.ErrorInfo</div>
                <div class="col-sm-4">
                    <display-entry asp-for="LatestAnswerBy" />
                </div>
            </div>
        }
    </div>
</div>



