@model Tolk.Web.Models.OrderModel

@{
    ViewData["Title"] = "Sammanfattning av bokning uppdragstyp";
}

<div class="row">
    <div class="col-sm-12 text-center">
        <img class="progressbar" src="~/images/Step2_Order.PNG" />
    </div>
    <div class="col-sm-12">
        @await  Html.PartialAsync("_OrderSummary", Model)
    </div>
</div>



