@model Tolk.Web.Models.OrderModel

@{
    ViewData["Title"] = $"Sammanfattning av bokning uppdragstyp - {Model.AssignmentType.SelectedItem.Text.ToLower()}";
    ViewData["OrderSummary_ShowCalculatedPrice"] = true;
}

<div class="row">
    <div class="col-sm-12 text-center">
        <img class="progressbar" src="~/images/Step2_Order.PNG" />
    </div>
    <div class="col-sm-12">
        @await  Html.PartialAsync("_OrderSummary", Model, new ViewDataDictionary(ViewData) { { "isCollapsible", false }, { "header", ViewData["title"] } })
        @await  Html.PartialAsync("_CustomerOrganizationInfo", Model, new ViewDataDictionary(ViewData) { { "isCollapsible", false } })
    </div>
</div>



