@model Tolk.Web.Models.OrderModel
@inject SelectListService SelectListService
@using Tolk.Web.Services

@using (Html.BeginForm("Add", "Order", FormMethod.Post))
{
    @section Scripts {
        <environment include="Development">
            <script src="~/js/Files.js" asp-append-version="true"></script>
            <script src="~/js/Wizard/wizard.js" asp-append-version="true"></script>
            <script src="~/js/Wizard/validate.js" asp-append-version="true"></script>
            <script src="~/js/Order/Add.js" asp-append-version="true"></script>
            <script src="~/js/Order/HandleInterpreterLocations.js" asp-append-version="true"></script>

        </environment>
        <environment exclude="Development">
            <script src="~/js/Files.min.js" asp-append-version="true"></script>
            <script src="~/js/Order/add.min.js" asp-append-version="true"></script>
            <script src="~/js/Order/HandleInterpreterLocations.min.js" asp-append-version="true"></script>
            <script src="~/js/Wizard/wizard.min.js" asp-append-version="true"></script>
            <script src="~/js/Wizard/validate.min.js" asp-append-version="true"></script>
        </environment>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    <div class="wizard row">
        <div class="col-xs-12">
            @*step 1 fill form*@
            <div class="wizard-step" data-forward-button-text="Gå vidare ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 text-center">
                            <img class="progressbar" src="~/images/Step1_Order.PNG" />
                        </div>
                        <h2>Bokningsuppgifter</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SystemTime" />
                        <form-entry asp-for="AssignmentType" asp-items="SelectListService.AssignmentTypes" />
                        <div class="row">
                            <div class="col-sm-4">
                                <form-entry asp-for="LanguageId" class="collapse in" id="language-panel" type="select" asp-items="SelectListService.Languages" />
                                <input id="OtherLanguageId" type="hidden" value="@OrderModel.OtherLanguageId" />
                                <form-entry asp-for="OtherLanguage" class="collapse" id="other-language" />
                            </div>
                            <div class="col-sm-4">
                                <form-entry asp-for="Dialect" />
                                <form-entry asp-for="DialectIsRequired" class="requirement-checkbox" />
                            </div>
                            <div class="col-sm-4">
                                <form-entry asp-for="RegionId" type="select" asp-items="SelectListService.Regions" />
                            </div>
                        </div>
                        <form-entry asp-for="SplitTimeRange" class="order-datepicker" />
                        <div class="row">
                            <div class="col-sm-8">
                                <form-entry asp-for="LatestAnswerBy" id="LatestAnswerBy" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="no-padding-margin">Inställelsesätt <span class="form-entry-information glyphicon glyphicon-info-sign" title="Om du bara väljer ett inställelsesätt så betraktas det som ett krav. Om du väljer flera alternativa sätt så betraktas det översta som ditt primära val, men förmedlingen kan välja något av de du tillhandahåller."></span></h3>
                            </div>
                        </div>
                        <div class="row ranked-InterpreterLocation">

                            <div class="col-sm-4 location-group">
                                <form-entry asp-for="RankedInterpreterLocationFirst" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                                <div class="address-RankedInterpreterLocationFirst grouped-form-boxes">
                                    <div class="address-information">
                                        <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.LocationStreet" />
                                        <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.LocationCity" />
                                    </div>
                                    <div class="off-site-information">
                                        <form-entry asp-for="RankedInterpreterLocationFirstAddressModel.OffSiteContactInformation" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 interpreter-location-second location-group bg-gray">
                                <form-entry asp-for="RankedInterpreterLocationSecond" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                                <div class="address-RankedInterpreterLocationSecond">
                                    <div class="address-information">
                                        <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.LocationStreet" />
                                        <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.LocationCity" />
                                    </div>
                                    <div class="off-site-information">
                                        <form-entry asp-for="RankedInterpreterLocationSecondAddressModel.OffSiteContactInformation" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 interpreter-location-third location-group">
                                <form-entry asp-for="RankedInterpreterLocationThird" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear interpreter-group" />
                                <div class="address-RankedInterpreterLocationThird">
                                    <div class="address-information">
                                        <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.LocationStreet" />
                                        <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.LocationCity" />
                                    </div>
                                    <div class="off-site-information">
                                        <form-entry asp-for="RankedInterpreterLocationThirdAddressModel.OffSiteContactInformation" />
                                    </div>
                                </div>
                            </div>
                            <div id="interpreterLocationValidator" class="d-none text-danger body"></div>
                        </div>
                        <form-entry asp-for="AllowMoreThanTwoHoursTravelTime" id="travel-time-checkbox" />
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="no-padding-margin">Tolkens kompetensnivå <span class="form-entry-information glyphicon glyphicon-info-sign" title="I de fall inget krav eller önskemål om kompetensnivå har angetts ska förmedlingen tillsätta tolk med högsta möjliga kompetens enligt principen för kompetensprioritering i ramavtalet."></span></h3>
                                    <div class="important-info">I de fall inget krav eller önskemål om kompetensnivå har angetts ska förmedlingen tillsätta tolk med högsta möjliga kompetens enligt principen för kompetensprioritering i ramavtalet.</div>
                                    <form-entry asp-for="CompetenceLevelDesireType" asp-items="SelectListService.DesireTypes" />
                                    <span id="competence-required">
                                        <form-entry asp-for="RequiredCompetenceLevels" asp-items="SelectListService.CompetenceLevels" label-override="Ange max två krav på kompetensnivå" />
                                    </span>
                                    <span id="competence-requested">
                                        <form-entry asp-for="RequestedCompetenceLevelFirst" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" label-override="Ange ett till tre önskemål om kompetensnivå i prioritetsordning" />
                                        <form-entry asp-for="RequestedCompetenceLevelSecond" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" />
                                        <form-entry asp-for="RequestedCompetenceLevelThird" type="select" asp-items="SelectListService.CompetenceLevels" class="allow-clear competence-level" />
                                    </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <form-entry asp-for="Description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                @await Html.PartialAsync("_FileList", new AttachmentListModel { AllowDelete = true, AllowDownload = true, AllowUpload = true, Files = Model.Files, Description = "Möjlighet att bifoga filer som kan vara relevanta vid tillsättning av tolk", Title = string.Empty })
                            </div>
                            <div class="col-sm-4">
                                <label>Tillkommande krav</label>
                                <br />
                                <a href="#" class="add-requirement-button font-size-14" data-toggle="modal" data-backdrop="static" data-target="#addRequirement"><span class="glyphicon glyphicon-plus-sign"></span> Lägg till krav</a>
                                <br /><br />
                                <div class="d-none order-requirement-list no-padding">
                                    <table class="table order-requirement-table">
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>Tillkommande önskemål</label>
                                <br />
                                <a href="#" class="add-desiredRequirement-button font-size-14" data-toggle="modal" data-backdrop="static" data-target="#addDesiredRequirement"><span class="glyphicon glyphicon-plus-sign"></span> Lägg till önskemål</a>
                                <br /> <br />
                                <div class="d-none order-desiredRequirement-list no-padding">
                                    <table class="table order-desiredRequirement-table">
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Myndighetens uppgifter</h2>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <display-entry asp-for="CreatedBy" />
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <form-entry asp-for="CustomerReferenceNumber" />
                            </div>
                            <div class="col-sm-6">
                                <form-entry asp-for="UnitName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <form-entry asp-for="ContactPersonId" type="select" asp-items="SelectListService.OtherContactPersons" class="allow-clear" />
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-controller="Home" asp-action="Index">Avbryt <span class="btn-remove-times">&times;</span></a>
            </div>

            @*step 2 confirm*@
            <div class="wizard-step" data-forward-button-text="Skicka bokning ">
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
            <div class="wizard-footer">
                <div class="wizard-back">
                    <button type="button" class="btn btn-large btn-warning pull-left do-not-check-dirty wizard-back-button"> <span class="center-glyphicon glyphicon glyphicon-triangle-left"></span> Ändra</button>
                </div>
                <div class="wizard-forward">
                    <button class="wizard-forward-button btn btn-primary btn-large pull-right" type="button" id="send"></button>
                </div>
                <div class="wizard-message-area"></div>
            </div>
        </div>
    </div>
}

<span id="basefile" class="d-none">
    <input asp-for="Files[0].Id" type="hidden" />
</span>
<span id="baseRequirement" class="d-none">
    <input asp-for="OrderRequirements[0].OrderRequirementId" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementType" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementIsRequired" type="hidden" />
    <input asp-for="OrderRequirements[0].RequirementDescription" type="hidden" />
</span>

<span id="baseDesiredRequirement" class="d-none">
    <input asp-for="OrderDesiredRequirements[0].OrderRequirementId" type="hidden" />
    <input asp-for="OrderDesiredRequirements[0].RequirementType" type="hidden" />
    <input asp-for="OrderDesiredRequirements[0].RequirementIsRequired" type="hidden" />
    <input asp-for="OrderDesiredRequirements[0].RequirementDescription" type="hidden" />
</span>

@Html.Partial("_UploadFileDialog")
<div id="addRequirement" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lägg till krav</h4>
            </div>
            <div class="modal-body" id="req">
                @Html.Partial("_Requirement", new OrderRequirementModel { RequirementIsRequired = true })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-default pull-right save-requirement">Spara</button>
            </div>
        </div>
    </div>
</div>

<div id="addDesiredRequirement" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lägg till önskemål</h4>
            </div>
            <div class="modal-body" id="des">
                @Html.Partial("_Requirement", new OrderRequirementModel { RequirementIsRequired = false })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning pull-left do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-default pull-right save-desiredRequirement">Spara</button>
            </div>
        </div>
    </div>
</div>


