@{
    ViewData["Title"] = "Behörighet saknas";
}
<section aria-label="@ViewData["Title"]">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har inte behörighet att se denna sida.</p>
</section>
