@model ChangeEmailModel;
@using Tolk.Web.Helpers;
@{
    ViewData["Title"] = "Ändra E-postadress";
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <form method="post" class="do-not-check-dirty">
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="NewEmailAddress" />
                <form-entry asp-for="CurrentPassword" />
            </div>
            @if (User.TryGetCustomerOrganisationId().HasValue)
            {
                <div class="col-sm-4 important-info">
                    <br />Obs! Ange alltid en personlig e-postadress till ditt konto i tjänsten. Ni kan använda enheter för att styra om er e-post till gemensamma funktionsbrevlådor.
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-warning btn-large pull-left do-not-check-dirty" asp-action="Index">Avbryt <span class="btn-remove-times">&times;</span></a>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success btn-large pull-right">Ändra E-postadress</button>
            </div>
        </div>
    </form>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</section>
