@{
    ViewData["Title"] = "Länk skickad!";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>

        <p>En länk för aktivering av ditt konto har skickats till din epost-adress.</p>
    </div>
</div>