@model ConfirmAccountModel
@{
    ViewData["Title"] = "Aktivering av konto misslyckades";
}
<section aria-label="@ViewData["Title"]">
    <div class="row">
        <div class="col-md-4 login-page page-shadow">
            <h1 class="padding-bottom-30px text-align-center">@ViewData["Title"]</h1>
            <p class="padding-bottom-30px">
                Ditt konto kunde inte aktiveras. Det kan bero på att
                din verifieringskod har gått ut. Klicka på Begär verifieringskod nedan för att skicka efter en ny verifieringskod.
            </p>
            <div class="row">
                <div class="row padding-bottom-30px">
                    <div class="col-xs-12 text-align-center">
                        <form asp-action="ConfirmAccount" method="post" class="do-not-check-dirty">
                            <input type="hidden" asp-for="UserId" />
                            <button class="btn btn-success btn-large" type="submit">Begär verifieringskod</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-align-center">
                        Har du redan ett konto?<br />
                        Gå vidare till <a asp-action="Login">Logga in <span class="glyphicon glyphicon-triangle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 welcome-info">
            @await Html.PartialAsync("_AppInfo")
        </div>
    </div>
</section>
