@{
    ViewData["Title"] = "Länk skickad!";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>

        <p>En länk har skickats till den epost-adress som är registrerad för ditt konto.</p>
    </div>
</div>