
@{
    ViewData["Title"] = "Kontoverifiering redan utfört";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>

        <p>
            Ditt konto är redan verifierat.
        </p>
    </div>
</div>
