
@{
    ViewData["Title"] = "Verifieringslänk gäller inte längre";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <p>
            Denna aktiveringslänk gäller inte längre. Klicka på Glömt ditt lösenord? för att skicka efter en ny aktiveringslänk.
        </p>
    </div>
</div>
