@{
    ViewData["Title"] = "Välkommen!";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>

        <p>Ditt konto är aktiverat och du kan nu börja använda tolktjänsten. Gå till 
        <a asp-controller="Home" asp-action="Index">startsidan</a> för att fortsätta.
    </div>
</div>