@model CreateInitialUserModel
@{
    ViewData["Title"] = "Skapa användare";
}

<div class="row">
    <div class="col-md-6">
        <h2>Skapa användare</h2>
        <p>
            Databasen saknar användare, registrera en första administratörsanvändare nedan.
        </p>

        <form asp-action="CreateInitialUser" asp-controller="Account" class="do-not-check-dirty">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form-entry asp-for="Email" />
            <form-entry asp-for="NewPassword" />
            <form-entry asp-for="ConfirmPassword" />
            <button type="submit" class="btn btn-success">Skapa användare</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
