@model DefaultSettingsModel
@using Tolk.Web.Services
@inject SelectListService SelectListService

@{
    ViewData["Title"] = "Ändra bokningsinställningar";
    var customerUnitItems = SelectListService.ActiveCustomerUnitsForUser(false);
}
<section aria-label="@ViewData["Title"]">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-12 important-info">
            Här kan du fylla i dina personliga bokningsinställningar. Värdena som sparas här kommer att förifyllas när du gör en ny bokning. Du kan förstås ändra på de värden som förifylls när du gör en ny bokning, om det skulle vara vissa tillfällen då du inte vill använda dig av dessa sparade inställningar.
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="RegionId" type="select" asp-items="SelectListService.Regions" class="allow-clear" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="InvoiceReference" />
            </div>
            @if (customerUnitItems != null && customerUnitItems.Any())
            {
                <div class="col-sm-4">
                    <form-entry asp-for="CustomerUnitId" type="select" asp-items="customerUnitItems" class="allow-clear" />
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form-entry asp-for="RankedInterpreterLocationFirst" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="RankedInterpreterLocationSecond" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear" />
            </div>
            <div class="col-sm-4">
                <form-entry asp-for="RankedInterpreterLocationThird" type="select" asp-items="SelectListService.InterpreterLocations" class="allow-clear" />
            </div>
            <div id="interpreterLocationValidator" class="col-sm-8 d-none text-danger body"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <fieldset>
                    <legend>Adress för tolkning På plats</legend>
                    <form-entry asp-for="OnSiteLocationStreet" />
                    <form-entry asp-for="OnSiteLocationCity" />
                </fieldset>
            </div>
            <div class="col-sm-4">
                <fieldset>
                    <legend>Adress till anvisad lokal</legend>
                    <form-entry asp-for="OffSiteDesignatedLocationStreet" />
                    <form-entry asp-for="OffSiteDesignatedLocationCity" />
                </fieldset>
            </div>
            <div class="col-sm-4">
                <fieldset>
                    <legend>Kontaktuppgifter vid distanstolkning</legend>
                    <form-entry asp-for="OffSitePhoneContactInformation" />
                    <form-entry asp-for="OffSiteVideoContactInformation" />
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form-entry asp-for="AllowExceedingTravelCost" type="select" asp-items="SelectListService.AllowExceedingTravelCost" class="allow-clear" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <a class="btn btn-warning btn-large pull-left do-not-check-dirty" asp-action="ViewDefaultSettings">Avbryt <span class="btn-remove-times">&times;</span></a>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="save-defaultsettings btn btn-large btn-default pull-right">Spara</button>
            </div>
        </div>
    </form>
</section>
@section Scripts {
    <environment include="Development">
        <script src="~/js/Account/Edit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Account/Edit.min.js" asp-append-version="true"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

