@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Glömt lösenord?";
}
<section aria-label="@ViewData["Title"]">
    <div class="row">
        <div class="col-md-4 login-page page-shadow">
            <h1 class="padding-bottom-30px">@ViewData["Title"]</h1>
            <p>Skicka en begäran om återställning av lösenord.</p>
            <div class="row">
                <div class="col-xs-12">
                    <form asp-action="ForgotPassword" method="post" class="do-not-check-dirty">
                        <div class="row padding-bottom-30px">
                            <div class="col-xs-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <form-entry asp-for="Email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-align-center">
                                <button type="submit" class="btn btn-default btn-large">Skicka</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-align-center">
                    Har du redan ett konto?<br />
                    Gå vidare till <a asp-action="Login">Logga in <span class="glyphicon glyphicon-triangle-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 welcome-info">
            @await Html.PartialAsync("_AppInfo")
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
