@model AccountViewModel
@{
    ViewData["Title"] = "Mitt konto";
}

<h2>@Model.NameFull</h2>

<div class="row">
    <div class="col-sm-4">
        <display-entry asp-for="UserName" />
        <display-entry asp-for="Email" />
    </div>
    <div class="col-sm-8">
        <display-entry asp-for="NameFull" />
        <display-entry asp-for="PhoneWork" />
        <display-entry asp-for="PhoneCellphone" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-primary btn-large" asp-action="ChangePassword">Ändra lösenord</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary btn-large" asp-action="Edit">Ändra uppgifter</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-primary btn-large" asp-action="ChangeEmail">Byt e-postadress</a>
    </div>
</div>
