@using Tolk.BusinessLogic.Entities
@model LoginViewModel
@inject SignInManager<AspNetUser> SignInManager

@{
    ViewData["Title"] = "Logga in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="do-not-check-dirty">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form-entry asp-for="Email" />
                <form-entry asp-for="Password" />
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Logga in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Glömt ditt lösenord?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
