@using Tolk.BusinessLogic.Entities
@model LoginViewModel
@inject SignInManager<AspNetUser> SignInManager

@{
    ViewData["Title"] = "Logga in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Använd ett lokalt konto för att logga in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <form-entry asp-for="Email" />
                <form-entry asp-for="Password" />
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Logga in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Glömt ditt lösenord?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrera en ny användare?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
