@model RegisterNewUserViewModel

@{
    ViewData["Title"] = "Ny användare";
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewData["Title"]</h2>
        <form method="post" asp-action="RegisterNewUser" asp-controller="Account">
            <input type="hidden" asp-for="UserId" />
            <form-entry asp-for="NameFirst" />
            <form-entry asp-for="NameFamily" />
            <form-entry asp-for="Password" />
            <form-entry asp-for="PasswordRetype" />
            <form-entry asp-for="PhoneWork" />
            <form-entry asp-for="PhoneCellphone" />
            <button type="submit" class="btn btn-success">Skapa</button>
        </form>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
