@model RegisterNewAccountViewModel
@{
    ViewData["Title"] = "Ny användare";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="PasswordToken" />
            <form-entry asp-for="NameFirst" />
            <form-entry asp-for="NameFamily" />
            <form-entry asp-for="NewPassword" />
            <form-entry asp-for="ConfirmPassword" />
            <form-entry asp-for="PhoneWork" />
            <form-entry asp-for="PhoneCellphone" />
            <button class="btn btn-success">Skapa</button>
        </form>
    </div>
</div>
