@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Ange nytt lösenord";
}
<section aria-label="@ViewData["Title"]">
    <div class="row">
        <div class="col-md-4 login-page page-shadow">
            <h1>@ViewData["Title"]</h1>
            <form method="post" class="do-not-check-dirty">
                <div class="row padding-bottom-30px">
                    <div class="col-xs-12">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Code" type="hidden" />
                        <input asp-for="UserId" type="hidden" />
                        <form-entry asp-for="NewPassword" />
                        <form-entry asp-for="ConfirmPassword" />
                    </div>
                </div>
                <div class="row padding-bottom-30px">
                    <div class="col-xs-12 text-align-center">
                        <button type="submit" class="btn btn-success btn-large">Återställ lösenord</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12 text-align-center">
                    Har du redan ett konto?<br />
                    Gå vidare till <a asp-action="Login">Logga in <span class="glyphicon glyphicon-triangle-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 welcome-info">
            @await Html.PartialAsync("_AppInfo")
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
