@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Återställ lösenord";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post" class="do-not-check-dirty">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <form-entry asp-for="NewPassword" />
            <form-entry asp-for="ConfirmPassword" />
            <button type="submit" class="btn btn-warning">Sätt Lösenord</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
