@{
    ViewData["Title"] = "Lösenord ändrat";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ditt lösenord har ändrats. Gå till <a asp-action="Index" asp-controller="Home">startsidan</a> för att fortsätta.
</p>
