@{
    ViewData["Title"] = "Ange nytt lösenord";
}
<h2 class="padding-bottom-30px">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-sm-12 text-align-center">
        <h3 class="padding-bottom-60px">Lösenord återställt <span class="glyphicon glyphicon-ok"></span></h3>
        <a asp-action="Index" asp-controller="Home" class="btn btn-default btn-large">Gå till startsidan <span class="glyphicon glyphicon-triangle-right"></span></a>
    </div>
</div>
