@model Tolk.Web.Models.ComplaintModel
@using Tolk.Web.Services
@inject SelectListService SelectListService
@{
    ViewData["Title"] = "Skapa reklamation";
}
<div class="row">
    <div class="col-md-8">
        <h2>@ViewData["Title"]</h2>
        <display-entry asp-for="OrderNumber" />
        <display-entry asp-for="BrokerName" />
        <display-entry asp-for="CustomerName" />
        <display-entry asp-for="RegionName" />
        <display-entry asp-for="CustomerReferenceNumber" />
        <display-entry asp-for="LanguageName" />
        <display-entry asp-for="InterpreterName" />
        <display-entry asp-for="StartAt" />
        <display-entry asp-for="EndAt" />
        <form method="post">
            <input asp-for="RequestId" type="hidden" />
            <form-entry asp-for="ComplaintType" type="select" asp-items="SelectListService.ComplaintTypes" />
            <form-entry asp-for="Message" />
            <button class="btn btn-default">Registera reklamation</button>
            <a class="btn btn-warning pull-right do-not-check-dirty" asp-controller="Assignment" asp-action="List" asp-route-Status="ToBeReported">Avbryt</a>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
