@model Tolk.Web.Models.ComplaintViewModel
@{
    ViewData["Title"] = "Reklamation";
}
<div class="row">
    <div class="col-md-8">
        <h2>@ViewData["Title"]</h2>
        <display-entry asp-for="OrderNumber" />
        <display-entry asp-for="CustomerName" />
        @if (!string.IsNullOrWhiteSpace(Model.CustomerReferenceNumber))
        {
            <display-entry asp-for="CustomerReferenceNumber" />
        }
        <display-entry asp-for="CreatedBy" />
        <display-entry asp-for="CreatedAt" />
        <display-entry asp-for="AssignmentType" />
        <display-entry asp-for="RegionName" />
        <display-entry asp-for="LanguageName" />
        <display-entry asp-for="BrokerName" />
        <display-entry asp-for="InterpreterName" />
        <display-entry asp-for="Status" />
        <display-entry asp-for="ComplaintType" />
        <display-entry asp-for="Message" />
        @if (!string.IsNullOrEmpty(Model.DisputeMessage))
        {
            <display-entry asp-for="DisputeMessage" />
        }
        @if (!string.IsNullOrEmpty(Model.AnswerDisputedMessage))
        {
            <display-entry asp-for="AnswerDisputedMessage" />
        }
        @if (Model.AllowAnwser)
        {
            <form method="post" asp-action="Accept">
                <input asp-for="ComplaintId" type="hidden" />
                <button class="btn btn-success pull-left">Godta reklamation</button>
            </form>
            <button class="btn decline-button btn-danger pull-right">Bestrid reklamation</button>
        }
        @if (Model.AllowAnwserOnDispute)
        {
            <button class="btn accept-button btn-success pull-left">Godta bestridande av reklamation</button>
            <button class="btn refute-button btn-danger pull-right">Ogilla bestridande av reklamation</button>
        }
    </div>
</div>
@await Html.PartialAsync("_EventLog", Model.EventLog)
<div id="disputeMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bestrid reklamation</h4>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Dispute" class="do-not-check-dirty">
                    <input type="hidden" name="ComplaintId" value="@Model.ComplaintId" />
                    <form-entry asp-for="DisputeMessage" />
                    <button type="submit" class="btn btn-warning">Skicka</button>
                    <button type="button" class="btn btn-default pull-right do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div id="acceptDisputeMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Godta bestridande av reklamation</h4>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="AcceptDispute" class="do-not-check-dirty">
                    <input type="hidden" name="ComplaintId" value="@Model.ComplaintId" />
                    <form-entry asp-for="AnswerDisputedMessage" />
                    <button type="submit" class="btn btn-warning">Skicka</button>
                    <button type="button" class="btn btn-default pull-right do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
<div id="refuteMessageDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ogilla bestridande av reklamation</h4>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Refute" class="do-not-check-dirty">
                    <input type="hidden" name="ComplaintId" value="@Model.ComplaintId" />
                    <form-entry asp-for="AnswerDisputedMessage" />
                    <button type="submit" class="btn btn-warning">Skicka</button>
                    <button type="button" class="btn btn-default pull-right do-not-check-dirty" data-dismiss="modal">Avbryt</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <environment include="Development">
        <script src="~/js/Complaint/View.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Complaint/View.min.js" asp-append-version="true"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

