@model RequisitionFilterModel
@inject SelectListService SelectListService
@using Tolk.Web.Services
<div class="col-md-4">
    <h4>Filtrera</h4>
    <form method="get" class="filter-form container do-not-check-dirty">
        <div class="row">
            <div class="col-xs-2">
                <form-entry asp-for="OrderNumber" />
            </div>
            <div class="col-xs-4">
                <form-entry asp-for="StartTimeRange" type="date-range" />
            </div>
            <div class="col-xs-3">
                <form-entry asp-for="LanguageId" type="select" asp-items="SelectListService.Languages" class="allow-clear" />
            </div>
            <div class="col-xs-3">
                <form-entry asp-for="Status" type="select" asp-items="SelectListService.RequisitionStatuses" Class="allow-clear" />
            </div>
        </div>
        @if (Model.IsCustomer)
        {
            <form-entry asp-for="FilterByContact" type="checkbox" />
        }
    </form>
</div>
