@model Tolk.Web.Models.RequisitionModel
@{
    ViewData["Title"] = "Skapa rekvisition";
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewData["Title"]</h2>
        <display-entry asp-for="OrderNumber" />
        <display-entry asp-for="BrokerName" />
        <display-entry asp-for="CustomerName" />
        <display-entry asp-for="RegionName" />
        <display-entry asp-for="CustomerReferenceNumber" />
        <display-entry asp-for="LanguageName" />
        <display-entry asp-for="InterpreterName" />
        @if (Model.PreviousRequisition != null)
        {
            <a href="@Url.Action("View", "Requisition", new { id = Model.PreviousRequisition.RequisitionId })">Se tidigare rekvisition</a>
        }

        <form method="post">
            <input asp-for="RequestId" type="hidden" />
            @if (Model.PreviousRequisition != null)
            {
                var wasteBefore = (Model.SessionStartedAt - Model.PreviousRequisition.TimeWasteBeforeStartedAt);
                <display-entry asp-for="@wasteBefore" label-override="Tidigare angiven tidsspillan före uppdraget" />
            }
            <form-entry asp-for="WasteBefore" />
            <display-entry asp-for="ExpectedStartedAt" />
            @if (Model.PreviousRequisition != null)
            {
                <display-entry asp-for="PreviousRequisition.SessionStartedAt" label-override="Tidigare angiven starttid" />
            }
            <form-entry asp-for="SessionStartedAt" />
            <display-entry asp-for="ExpectedEndedAt" />
            @if (Model.PreviousRequisition != null)
            {
                <display-entry asp-for="PreviousRequisition.SessionEndedAt" label-override="Tidigare angiven sluttid" />
            }
            <form-entry asp-for="SessionEndedAt" />
            @if (Model.PreviousRequisition != null)
            {
                var wasteAfter = (Model.PreviousRequisition.TimeWasteAfterEndedAt - Model.SessionEndedAt);
                <display-entry asp-for="@wasteAfter" label-override="Tidigare angiven tidsspillan efter uppdraget" />
            }
            <form-entry asp-for="WasteAfter" />
            <display-entry asp-for="ExpectedTravelCosts" />
            @if (Model.PreviousRequisition != null)
            {
                <display-entry asp-for="PreviousRequisition.TravelCosts" label-override="Tidigare angiven resekostnad (exkl. moms)" />
            }
            <form-entry asp-for="TravelCosts" />
            <form-entry asp-for="Message" />
            <button class="btn btn-default">Skapa</button>
            <a class="btn btn-warning pull-right do-not-check-dirty" asp-controller="Assignment" asp-action="List" asp-route-Status="ToBeReported">Avbryt</a>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
