@model Tolk.Web.Models.RequisitionModel
@using Tolk.Web.Services
@{
    ViewData["Title"] = "Registrera rekvisition";
}

<div class="row">
    <div class="col-sm-12">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <div class="row">
                <div class="col-sm-4">
                    <display-entry asp-for="OrderNumber" />
                </div>
                <div class="col-sm-4">
                    <display-entry asp-for="OrderCreatedBy" />
                </div>
                <div class="col-sm-4">
                    <display-entry asp-for="CustomerCompactInfo" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <display-entry asp-for="LanguageName" />
                </div>
                <div class="col-sm-4">
                    <display-entry asp-for="RegionName" />
                </div>
                <div class="col-sm-4">
                    <display-entry asp-for="BrokerName" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <display-entry asp-for="Interpreter" />
                </div>
                <div class="col-sm-4">
                    <display-entry asp-for="InterpreterCompetenceLevel" />
                </div>
                <div class="col-sm-4">
                    <input asp-for="RequestId" type="hidden" />
                    <input asp-for="CombinedMaxSizeAttachments" type="hidden" />
                    <input asp-for="FileGroupKey" type="hidden" />
                    <form-entry asp-for="InterpreterTaxCard" type="select" asp-items="SelectListService.TaxCards" class="allow-clear" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @if (Model.RequestPriceInformationModel != null)
                    {
                        await Html.RenderPartialAsync("_PriceInformationDisplay", Model.RequestPriceInformationModel);
                    }
                </div>
                <div class="col-sm-6">
                    @if (Model.PreviousRequisition != null && Model.PreviousRequisition.ResultPriceInformationModel != null)
                    {
                        await Html.RenderPartialAsync("_PriceInformationDisplay", Model.PreviousRequisition.ResultPriceInformationModel);
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @if (Model.PreviousRequisition != null)
                    {
                        <a href="@Url.Action("View", "Requisition", new { id = Model.PreviousRequisition.RequisitionId })">Se tidigare rekvisition</a><br /><br />
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <display-entry asp-for="ExpectedStartedAt" />
                        </div>
                        <div class="col-sm-6">
                            @if (Model.PreviousRequisition != null)
                            {
                                <display-entry asp-for="PreviousRequisition.SessionStartedAt" />
                            }
                        </div>
                        <div class="col-sm-12">
                            <form-entry asp-for="SessionStartedAt" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <display-entry asp-for="ExpectedEndedAt" />
                        </div>
                        <div class="col-sm-6">
                            @if (Model.PreviousRequisition != null)
                            {
                                <display-entry asp-for="PreviousRequisition.SessionEndedAt" />
                            }
                        </div>
                        <div class="col-sm-12">
                            <form-entry asp-for="SessionEndedAt" />
                            <br /><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form-entry asp-for="TimeWasteTotalTime" />
                    @if (Model.PreviousRequisition != null)
                    {
                        <display-entry asp-for="PreviousRequisition.TimeWasteInfo" label-override="Tidigare angiven tidsspillan" />
                    }
                    <div id="wasteTimeValidator" class="d-none text-danger body"></div>
                    <br />
                </div>
                <div class="test-class col-sm-6">
                    <form-entry asp-for="TimeWasteIWHTime" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @if (Model.PreviousRequisition?.TravelCosts != null)
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <display-entry asp-for="ExpectedTravelCosts" />
                            </div>
                            <div class="col-sm-6">
                                <display-entry asp-for="PreviousRequisition.TravelCosts" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <display-entry asp-for="ExpectedTravelCosts" />
                    }
                </div>
                <div class="col-sm-6">
                    <form-entry asp-for="TravelCosts" />
                    <div id="travelCostsValidator" class="d-none text-danger body"></div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form-entry asp-for="Message" />
                </div>
                <div class="col-sm-6">
                    @await Html.PartialAsync("_FileList", new AttachmentListModel { AllowDelete = true, AllowDownload = true, AllowUpload = true, Files = Model.Files, Description = "Möjlighet att bifoga filer som kan vara relevanta för rekvisitionen", Title = string.Empty })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-large btn-warning pull-left do-not-check-dirty" asp-controller="Home" asp-action="Index">Avbryt <span class="btn-remove-times">&times;</span></a>
                </div>
                <div class="col-sm-6">
                    <button id="create" type="submit" class="btn btn-large btn-default pull-right">Registrera rekvisition <span class="center-glyphicon glyphicon glyphicon-triangle-right"></span></button>
                </div>
            </div>
        </form>
        <span id="basefile" class="d-none">
            <input asp-for="Files[0].Id" type="hidden" />
        </span>
    </div>
</div>
@await Html.PartialAsync("_UploadFileDialog")

@section Scripts {
    <environment include="Development">
        <script src="~/js/Files.js" asp-append-version="true"></script>
        <script src="~/js/Requisition/Create.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Files.min.js" asp-append-version="true"></script>
        <script src="~/js/Requisition/Create.min.js" asp-append-version="true"></script>
    </environment>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
