@model Tolk.Web.Models.RequisitionProcessModel
@{
    ViewData["Title"] = "Behandla rekvisition";
}
<div class="row">
    <div class="col-md-8">
        <h2>@ViewData["Title"]</h2>
        <display-entry asp-for="OrderNumber" />
        <display-entry asp-for="OrderCreatedBy" />
        @if (Model.PreviousRequisition != null)
        {
            <a href="@Url.Action("View", "Requisition", new { id = Model.PreviousRequisition.RequisitionId })">Se tidigare rekvisition</a>
        }
        <display-entry asp-for="RequisitionCreatedBy" />
        <display-entry asp-for="CreatedAt" />
        <display-entry asp-for="Status" />
        <display-entry asp-for="ExpectedStartedAt" />
        <display-entry asp-for="SessionStartedAt" />
        <display-entry asp-for="ExpectedEndedAt" />
        <display-entry asp-for="SessionEndedAt" />
        <display-entry asp-for="TimeWasteInfo" />
        <display-entry asp-for="ExpectedTravelCosts" />
        <display-entry asp-for="TravelCosts" />
        <display-entry asp-for="Message" />
        @await Html.PartialAsync("_FileList", Model.AttachmentListModel)

        @if (Model.RequestPriceInformationModel != null)
        {
            Html.RenderPartial("_PriceInformationDisplay", Model.RequestPriceInformationModel);
        }
        @if (Model.ResultPriceInformationModel != null)
        {
            Html.RenderPartial("_PriceInformationDisplay", Model.ResultPriceInformationModel);
        }
        <form method="post" asp-action="Approve">
            <input asp-for="RequisitionId" type="hidden" />
            <button class="btn btn-primary">Godkänn</button>
            <button type="button" data-toggle="modal" data-target="#denyMessageDialog" class="btn btn-danger pull-right">Underkänn rekvisition</button>
        </form>
    </div>
</div>
@await Html.PartialAsync("_DenyMessageDialog", new DenyMessageDialogModel { Action = "Deny", DialogHeader = "Neka rekvisitionen", ParentId = Model.RequisitionId })
@section Scripts {
    <environment include="Development">
        <script src="~/js/Files.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Files.min.js" asp-append-version="true"></script>
    </environment>
}
