@model Tolk.Web.Models.RequisitionViewModel
<div class="row">
    <div class="col-sm-4">
        <br />
        <display-entry asp-for="Status" />
    </div>
    <div class="col-sm-4">
        <br />
        <display-entry asp-for="CustomerOrganizationName" />
    </div>
    <div class="col-sm-4">
        <br />
        <display-entry asp-for="CustomerReferenceNumber" />
    </div>
</div>
@if (Model.AllowCreation)
{
    <div class="row">
        <div class="col-sm-6">
            <display-entry asp-for="DenyMessage"></display-entry>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-large btn-danger pull-right" href="@Url.Action("Create", "Requisition" , new { id=Model.RequestId })">Ersätt rekvisition</a>
        </div>
    </div>
}
else if (!string.IsNullOrWhiteSpace(Model.DenyMessage))
{
    <div class="col-sm-12">
        <display-entry asp-for="DenyMessage"></display-entry>
    </div>
}
@await Html.PartialAsync("_RequisitionSummary", Model, new ViewDataDictionary(ViewData) { { "header", "Fakturaunderlag" } })
<div class="row">
    <div class="col-sm-12">
        @if (Model.AllowProcessing)
        {
            <form method="post" asp-controller="Requisition" asp-action="Approve">
                <input asp-for="RequisitionId" type="hidden" />
                <button class="btn btn-default btn-success btn-large pull-right">Godkänn <span class="center-glyphicon glyphicon glyphicon-ok"></span></button>
                <button type="button" data-toggle="modal" data-target="#requisitionDenyMessageDialog" class="btn deny-button btn-warning btn-large pull-left left">Underkänn</button>
            </form>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @await Html.PartialAsync("_EventLog", Model.EventLog, new ViewDataDictionary(ViewData) { { "header", "Rekvisitionshändelser" }, { "id", "EventLog_Requisition" } })
    </div>
</div>
@await Html.PartialAsync("_DenyMessageDialog", new DenyMessageDialogModel { Action = "Deny", DialogHeader = "Underkänn rekvisitionen", ParentId = Model.RequisitionId, DialogId = "requisitionDenyMessageDialog"})
@section Scripts {
    <environment include="Development">
        <script src="~/js/Files.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Files.min.js" asp-append-version="true"></script>
    </environment>
}